<!DOCTYPE html>

<html lang="en">
<head>

	<!-- BASE -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	<!-- SITE TITLE -->
	<title>{{ shop.name }} | {{ page_title }}</title>

	<!-- DESCRIPTION -->
	<meta name="description" content="{{ page_description | escape }}">

	<!-- FONTS -->
	<script src="https://use.typekit.net/siw5qqy.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS -->
    {{ 'main.css' | asset_url | stylesheet_tag }}

	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
	<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
	<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#000000">
	<meta name="theme-color" content="#ffffff">

    <!-- Header hook for plugins -->
    {{ content_for_header }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{{ 'customer_area.js' | shopify_asset_url | script_tag }}
	{% if template contains 'collection' or template contains 'product' %}
		<script>
			window.twttr = (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
			t = window.twttr || {};
			if (d.getElementById(id)) return t;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);

			t._e = [];
			t.ready = function(f) {
				t._e.push(f);
			};

			return t;
		}(document, "script", "twitter-wjs"));</script>
		<script>
			$('.twitter-share-button').on('click', function(e) {
				e.preventDefault();
				windowPopup($(this).attr('href'), 300, 300);
			});
		</script>
	{% endif %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	<script>
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"content": {
					"message": 'We use cookies.<br> See our <a href="/privacy">Privacy Policy</a>.',
					"dismiss": '<i class="cc-btn cc-dismiss icon-close_small"></i></button>'
				},
				"behaviour": {
					"dismissOnScroll": "300",
					"dismissOnTimeout": "10000"
				}
			});
		});
	</script>
</head>
<body class="template-{{ template }}">

	{% include 'header' %}
	{{ content_for_layout }}

	{% comment %}
		<!-- mailing jumped to popup -->
		{% include 'mailing-list' %}
	{% endcomment %}

	{% include 'footer' %}

    <!-- SCRIPTS BEGIN -->
	{{ 'slick.min.js' | asset_url | script_tag }}
	{{ 'jquery.parallaxify.min.js' | asset_url | script_tag }}
	{{ 'rellax.min.js' | asset_url | script_tag }}
	{{ 'main.js' | asset_url | script_tag }}
	{{ 'rivets-cart.min.js' | asset_url | script_tag }}
	<script type="text/javascript">
        jQuery(function() {
            CartJS.init({{ cart | json }});
        });
    </script>
	{% if template contains 'collection' or template contains 'product' %}
	    <div id="fb-root"></div>
	    <script>(function(d, s, id) {
	        var js, fjs = d.getElementsByTagName(s)[0];
	        if (d.getElementById(id)) return;
	        js = d.createElement(s); js.id = id;
	        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
	        fjs.parentNode.insertBefore(js, fjs);
	    }(document, 'script', 'facebook-jssdk'));
	    </script>
		<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>

	{% endif %}
</body>
</html>
