<!-- /templates/404.liquid -->
<main class="page page--404 container container--narrow">
    <h1 class="h1 h1--xxl">404</h1>
    <h2 class="h2">{{ 'general.404.title' | t }}</h2>
    <p class="p">{{ 'general.404.subtext_html' | t }}</p>
</main>
