<!-- /templates/blog.liquid -->
<main class="blog container">
    <header class="blog__header">
        {% for entity in blogs['other'].articles  %}
            {% if entity.title == 'Candice Loves' %}
                <img src="{{ entity | img_url: '2048x2048' }}" alt="{{ entity.title }}">
                <div class="title">
                    <h1 class="h3">{{ entity.content }}</h1>
                </div>
                <p class="teaser p p--small"><a href="#" class="scroll-down">{{ entity.excerpt }}</a></p>
            {% endif %}
        {% endfor %}
    </header>
    {% for article in blog.articles %}
        {% for tag in article.tags %}
            {% if tag contains 'article--left' %}
                {% assign side = 'article--left' %}
            {% elsif tag contains 'article--right' %}
                {% assign side = 'article--right' %}
            {% endif %}
        {% endfor %}
        <article class="article {{ side }}">
            <img class="article__image" src="{{ article | img_url: '2048x2048' }}" alt="{{ article.title }}">
            <div class="article__content" data-rellax-speed="-1">
                <h2 class="article__title h3">{{ article.title }}</h2>
                {{ article.content }}
            </div>
        </article>
    {% endfor %}
</main>
