<!-- /templates/cart.liquid -->
<main class="cart container">
    <h1 class="cart__title h1">{{ 'cart.general.title' | t }}</h1>
    {% if cart.item_count > 0 %}

        <form action="/cart" method="post" novalidate class="cart__form">

            {% for item in cart.items %}
                <div id="{{ item.variant.id }}" class="item">
                    <!-- ITEM TITLE -->
                    {% capture dashvariant %} - {{ item.variant.title }}{% endcapture %}
                    <h1 class="item__title h1">
                        <a href="{{ item.url }}">{{ item.title | remove: dashvariant }}</a>
                    </h1>
                    <!-- ITEM IMAGE -->
                    <div class="item__image">
                        <img src="{{ item | img_url: '2048x2048' }}" alt="{{ item.title | remove: dashvariant }}">
                    </div>
                    <div class="item__info">
                        <!-- ITEM VARIANT -->
                        <div class="item__variants">
                            {% assign color = item.variant.option2 | split: '#' %}
                            {% unless item.variant.option1 contains 'Default' %}
                                <p>{{ item.variant.option1 }}</p>
                            {% endunless %}
                            <p>{{ color[0] }}</p>

                            {% if item.title contains "Custom" %}
                                {% if item.title contains "Heart" %}
                                    <p>{{ 'products.product.front' | t }}: &#9829;</p>
                                    <p>{{ 'products.product.back' | t }}: {{ item.properties.Back }}</p>
                                {% else %}
                                    <p>{{ 'products.product.front' | t }}: {{ item.properties.Front }}</p>
                                    <p>{{ 'products.product.back' | t }}: {{ item.properties.Back }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="item__count count">
                            <span class="count__minus icon-minus"></span>
                            <input data-inventory="{% if item.variant.inventory_management == null %}99{% else %}{{ item.variant.inventory_quantity }}{% endif %}" value="{{ item.quantity }}" type="text" class="input count__number" disabled>
                            <span class="count__plus icon-plus"></span>
                            <a href="#" class="button item__update">{{ 'cart.general.update' | t }}</a>
                        </div>
                        <div class="item__price">
                            <p class="value">
                                <span class="item-price">{{ 'cart.label.price' | t }}: </span>
                                <span class="item-total">{{ item.price | money Currency.currentCurrency }}</span>
                            </p>
                            <p class="value value-total">
                                <span class="item-price">{{ 'cart.label.total' | t }}: </span>
                                <span data-price="{{ item.price }}" class="item-total">{{ item.line_price | money Currency.currentCurrency }}</span>
                            </p>
                        </div>
                        <a href="#" class="item__remove p">
                            <i class="icon-plus"></i>
                            {{ 'cart.general.remove' | t }}
                        </a>
                    </div>

                    <hr class="item__divider hr hr--bold">
                </div>
            {% endfor %}

            <div class="cart__checkout">
                <!-- <p class="cart__info p">Shipping, taxes, and discounts will be calculated at checkout.</p> -->
                <p class="cart__subtotal h1">
                    <span>{{ 'cart.general.subtotal' | t }}: </span>
                    <span class="value">{{ cart.total_price | money Currency.currentCurrency }}</span>
                </p>
            </div>

            <div class="cart__button">
                <button type="submit" name="checkout" class="button">{{ 'cart.general.checkout' | t }}</button>
            </div>

        </form>

    {% else %}
    <!-- EMPTY CART -->
    <div class="cart__empty">
        <h2 class="h2">{{ 'cart.general.empty' | t }}</h2>
        <p class="p">{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% endif %}

</main>
