<!-- /templates/page.liquid -->
<main class="page container container--narrow">
    <h1 class="h1">COME BACK IN AN HOUR</h1>
    <div id='container' style="display: none;">
    <div id='login' style="display: none;">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <input type='password' name='password' id='password' autofocus />
        <div class="actions">
          <input class="button button--ghost" name="commit" type="submit" value="Pass" />
        </div>
      {% endform %}
    </div>

  </div>
</main>
