<!-- /templates/product.liquid -->
<main class="product container">

    <!-- Mobile gallery slider -->
    <section class="product__gallery product__gallery--mobile">
        {% for image in product.images %}
            {% if image.src contains 'Mobile' or image.src contains 'mobile' %}
                <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
            {% endif %}
        {% endfor %}
    </section>

    <header class="product__header">
        <h1 class="product__title product__title--mobile h2">
            <span class="title">{{ product.title }}</span>
            <span class="price">{{ product.price | money }}</span>
        </h1>
        <div class="product__image product__image--featured">
            <img src="{{ product.images[2] | img_url: '2048x2048' }}" alt="{{ product.images[2].alt | escape }}">
        </div>
    </header>

    <section class="product__info product__info--personalized h3">
        <h1 class="product__title product__title--desktop h2">
            <span class="title">{{ product.title }}</span>
            <span class="price">{{ product.price | money }}</span>
        </h1>
        <hr class="product__hr">
        <div class="product__notes active">
            <span class="name-label toggle-notes">{{ 'products.product.description' | t }}</span>
            <span class="icon-plus toggle-notes"></span>
            <span class="icon-minus toggle-notes"></span>
            <div class="notes">
                {{ product.description }}
            </div>
        </div>
        <form action="/cart/add" method="post" class="product__form">
            <hr>
            <!-- CUSTOMIZE NECKLACE -->
            <div class="product__personalize product__personalize--front">
                <span class="name-label toggle-notes">{{ 'products.product.front' | t }}</span>
                <input id="personalize-front" type="text" class="input input--tag" name="" value="" placeholder="1 letter or digit">
            </div>
            <hr>
            <!-- CUSTOMIZE NECKLACE -->
            <div class="product__personalize product__personalize--back">
                <span class="name-label toggle-notes">{{ 'products.product.back' | t }}</span>
                <input id="personalize-back" type="text" class="input input--tag" name="" value="" placeholder="1 letter or digit">
            </div>
            <hr>
            {% if product.variants.size > 1 %}
                <div class="product__variants">
                    <select class="product__select hidden" id="product-select-{{ product.id }}">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    {% for option in product.options %}
                        <div class="option-container">
                            <span class="name-label">{{ option }}</span>
                            {% if option == 'Color' %}
                                <ul class="option option--color">
                                {% assign index = forloop.index0 %}
                                {% assign colorlist = '' %}
                                {% assign color = '' %}
                                {% for variant in product.variants %}
                                    {% capture color %}
                                        {{ variant.options[index] }}
                                    {% endcapture %}
                                    {% unless colorlist contains color %}
                                        <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ color }}"><img src="{{ color | downcase | strip_newlines | strip_html | remove: ' ' | append: '.png' | prepend: 'color-' | asset_url }}"alt="{{ color }}" /></li>
                                        {% capture tempList %}
                                            {{ colorlist | append: color | append: ‘ ‘}}
                                        {% endcapture %}
                                        {% assign colorlist = tempList %}
                                    {% endunless %}
                                {% endfor %}
                                </ul>
                            {% elsif option == 'Size' %}
                                <ul class="option option--size">
                                {% assign index = forloop.index0 %}
                                {% assign sizelist = '' %}
                                {% assign size = '' %}
                                {% for variant in product.variants %}
                                    {% capture size %}
                                        {{ variant.options[index] }}
                                    {% endcapture %}
                                    {% unless sizelist contains size %}
                                        <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ size }}">{{ size | strip_newlines | strip_html | remove: ' ' }}</li>
                                        {% capture tempList %}
                                            {{ sizelist | append: size | append: ‘ ‘}}
                                        {% endcapture %}
                                        {% assign sizelist = tempList %}
                                    {% endunless %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="product__buy">
                <div class="product__count count">
                    <span class="count__minus icon-minus"></span>
                    <input data-inventory="{{ product.variants.first.inventory_quantity }}" data-inventory-first="{{ product.variants.first.inventory_quantity }}" disabled value="1" type="text" class="input count__number">
                    <span class="count__plus icon-plus"></span>
                </div>
                <div role="button" data-custom-front="" data-custom-back="" data-custom-variant="{{ product.selected_or_first_available_variant.id }}" data-cart-quantity="1" class="add-to-cart button button--cart add-to-cart-personalized">
                    <div class="button__message">
                        <span>{{ 'products.product.add_to_cart_1' | t }}</span><span>{{ 'products.product.added_to_cart_1' | t }}</span>
                        <span class="button__out">{{ 'products.product.sold_out' | t }}</span>
                    </div>
                    <div class="button__bag">
                        <span>{{ 'products.product.add_to_cart_2' | t }}</span>
                        <i class="icon-bag_empty"></i>
                        <i class="icon-bag"></i>
                    </div>
                </div>
            </div>
            <hr>
        </form>
        <nav class="product__share share">
            <ul>
                <li><a href="#" class="icon-fb"></a></li>
                <li><a href="#" class="icon-twitter"></a></li>
                <li><a href="#" class="icon-pinterest"></a></li>
                <!-- <li><a href="#" class="icon-fancy"></a></li>
                <li><a href="#" class="icon-googleplus"></a></li> -->
            </ul>
        </nav>
    </section>
    <section class="product__gallery product__gallery--desktop">
        {% for image in product.images %}
            {% unless image.alt == 'Mailing' or image.src contains 'Mobile' or image.src contains 'mobile' %}
                {% if forloop.index == 4 %}
                    <div class="product__image product__image--personalized product__image--front">
                        <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                        <div class="personalized-letter" data-url="{{ 'tag-a.png' | asset_url }}"></div>
                    </div>
                {% elsif forloop.index == 5 %}
                    <div class="product__image product__image--personalized product__image--back">
                        <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                        <div class="personalized-letter" data-url="{{ 'tag-a.png' | asset_url }}"></div>
                    </div>
                {% endif %}
            {% endunless %}
        {% endfor %}
    </section>

</main>
{{ 'product.monogram.js' | asset_url | script_tag }}
<script type="text/javascript">
var product = {{ product | json }}
{% if product.variants.size > 1 %}
    // new Shopify.OptionSelectors('product-select-' + {{ product.id }}, { product: {{ product | json }}, onVariantSelected: selectCallback });
    //
    // function selectCallback(variant, selector) {
    //     var product = $('#' + selector.domIdPrefix).closest('.product');
    //     var button = product.find('.add-to-cart');
    //     if (variant) {
    //         product.find('.count__number').attr('data-inventory', variant.inventory_quantity);
    //         button.removeClass('button--disabled');
    //         if (variant.available) {
    //             button.attr('data-cart-add', variant.id);
    //         } else {
    //             button.addClass('button--disabled');
    //         }
    //     } else {
    //         button.addClass('button--disabled');
    //     }
    // }
{% else %}
    if (product.variants[0].inventory_management === null) {
        $('.count__number').attr('data-inventory', 99);
    }
{% endif %}

$('.product__notes .toggle-notes').on('click', function () {
    $(this).closest('.product__notes')
           .toggleClass('active');
});

</script>

<script type="text/javascript">
    var product = {{ product | json }}

    var successBox = document.getElementById('notify-success');
    var errorBox = document.getElementById('notify-error');

    var boosterExistInterval = setInterval(function(){
        checkBoosterExist();
    }, 1000);

    if(!product.available || !product.variants[0].available){
        document.querySelector('.product__buy').classList.add('hidden');
        document.querySelector('.product__unavailable').classList.remove('hidden');
    }

    function checkBoosterExist(){
        var boosterTrigger = document.getElementById("booster-trigger");
        if(boosterTrigger){
            clearInterval(boosterExistInterval);
            boosterTrigger.parentNode.parentNode.removeChild(boosterTrigger.parentNode);
            // console.log(new_element);
            // new_element.addEventListener('click', function(e) {
            //     console.log(e);
            //     e.stopPropagation();
            //     document.querySelector('.product__buy').classList.add('hidden');
            //     document.querySelector('.product__unavailable').classList.remove('hidden');
            // });
        }
    }

    document.getElementById('product-unavailable-button').addEventListener('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        hideSuccessError();
        document.getElementById('email_address').value = document.getElementById('product-unavailable-email').value;
        document.getElementById('variants').value = selectedVariant && selectedVariant.id || null;
        // document.querySelector('#booster-form .submit-button button').click();
        $.ajax({
            url: 'https://lovebilly-dev.myshopify.com/apps/restock',
            method: 'POST',
            data: {
                shop: 'lovebilly-dev.myshopify.com',
                product_id: product.id,
                customer_email: document.getElementById('product-unavailable-email').value,
                variant_id: selectedVariant && selectedVariant.id || null,
                quantity_required: null,
                accepts_marketing: false,
            },
            success: function(data){
                if(data.status === 'ok'){
                    showSuccess(data.notice);
                }else{
                    showError(data.alert);
                }

            },
            error: function(error){
                showError(error.alert);
            }

        })
    });

    successBox.addEventListener('click', function(){
        hideSuccessError();
    });

    errorBox.addEventListener('click', function(){
        hideSuccessError();
    });


    function showSuccess(notice){
        successBox.innerText = notice;
        successBox.classList.remove('hidden');
    }

    function showError(error){
        errorBox.innerText = error;
        errorBox.classList.remove('hidden');
    }

    function hideSuccessError(){
        errorBox.classList.add('hidden');
        successBox.classList.add('hidden');
    }

</script>
<section class="product container exico">
    <h3 class="exico_rc-header exico_rc-header--mobile">{{ 'products.general.related_products_title' | t }}</h3>
    {% include 'exico_cross_related' %}
</section>
