<!-- /templates/product.liquid -->
<main class="product container">

    <!-- Mobile gallery slider -->
    <section class="product__gallery product__gallery--mobile">
        {% for image in product.images %}
            {% if image.src contains 'Mobile' or image.src contains 'mobile' %}
            <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
            {% endif %}
        {% endfor %}
    </section>

    <!-- Main product header -->
    <header class="product__header">
        <!-- There are to main product headers, one for mobile, one for desktop (issues with fixed nav on mobile) -->
        <h1 class="product__title product__title--mobile h2">
            <span class="title">{{ product.title }}</span>
            <span class="price">{{ product.price | money }}</span>
        </h1>
        <!-- Featured image -->
        <div class="product__image product__image--featured">
            <img src="{{ product.images[2] | img_url: '2048x2048' }}" alt="{{ product.images[2].alt | escape }}">
        </div>
    </header>

    <!-- Product info -->
    <section class="product__info h3">
         <!-- Desktop title header  -->
        <h1 class="product__title product__title--desktop h2">
            <span class="title">{{ product.title }}</span>
            <span class="price">{{ product.price | money }}</span>
        </h1>
        <hr class="product__hr">
        <!-- Product description -->
        <div class="product__notes active">
            <span class="name-label toggle-notes">{{ 'products.product.description' | t }}</span>
            <span class="icon-plus toggle-notes"></span>
            <span class="icon-minus toggle-notes"></span>
            <div class="notes">
                {{ product.description }}
            </div>
        </div>
        <!-- Add to cart form -->
        <form action="/cart/add" method="post" class="product__form">
            <hr>
            <!-- Lots of code for variants -->
            {% if product.variants.size > 1 %}
                <div class="product__variants">
                    <select class="product__select hidden" id="product-select-{{ product.id }}">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    {% for option in product.options %}
                        <div class="option-container">
                            <span class="name-label">{{ option }}</span>
                            <!-- Code below is looking for color in color list and add *.png <img> with title based on color name -->
                            {% if option == 'Color' %}
                                <ul class="option option--color">
                                    {% assign index = forloop.index0 %}
                                    {% assign colorlist = '' %}
                                    {% assign color = '' %}
                                    {% for variant in product.variants %}
                                        {% capture color %}
                                            {{ variant.options[index] }}
                                        {% endcapture %}
                                        {% unless colorlist contains color %}
                                            <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ color }}"><img src="{{ color | downcase | strip_newlines | strip_html | remove: ' ' | append: '.png' | prepend: 'color-' | asset_url }}"alt="{{ color }}" onError=""></li>
                                            {% capture tempList %}
                                                {{ colorlist | append: color | append: ‘ ‘}}
                                            {% endcapture %}
                                            {% assign colorlist = tempList %}
                                        {% endunless %}
                                    {% endfor %}
                                </ul>
                            <!-- Code below is listing all sizes -->
                            {% elsif option == 'Size' %}
                                <ul class="option option--size">
                                    {% assign index = forloop.index0 %}
                                    {% assign sizelist = '' %}
                                    {% assign size = '' %}
                                    {% for variant in product.variants %}
                                        {% capture size %}
                                            {{ variant.options[index] }}
                                        {% endcapture %}
                                        {% unless sizelist contains size %}
                                            <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ size }}">{{ size | strip_newlines | strip_html | remove: ' ' }}</li>
                                            {% capture tempList %}
                                                {{ sizelist | append: size | append: ‘ ‘}}
                                            {% endcapture %}
                                            {% assign sizelist = tempList %}
                                        {% endunless %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Add to cart button with counter -->
            <div class="product__unavailable hidden">
                <div class="product__unavailable--info">
                    <span class="product-label">OUT OF STOCK</span>
                    <span class="product-desc">We'll let you know when it's back</span>
                </div>
                <div class="product__unavailable--form">
                    <input class="input input--email" type="email" id="product-unavailable-email" placeholder="Your email" />
                    <button class="button" id="product-unavailable-button">Notify me</button>
                </div>
                <span id="notify-success" class="notify-success hidden"></span>
                <span id="notify-error" class="notify-error hidden"></span>
            </div>
            <div class="product__buy">
                <!-- Counter -->
                <div class="product__count count">
                    <span class="count__minus icon-minus"></span>
                    <input data-inventory="{{ product.variants.first.inventory_quantity }}" data-inventory-first="{{ product.variants.first.inventory_quantity }}" disabled value="1" type="text" class="input count__number">
                    <span class="count__plus icon-plus"></span>
                </div>
                <!-- Button (looks complicated because of the animation) -->
                <!-- data-custom-variant="{{ product.selected_or_first_available_variant.id }}" -->
                <div role="button" data-cart-quantity="1" data-variant-id={{ product.variants.first.id }} class="add-to-cart button button--cart">
                    <div class="button__message">
                        <span>{{ 'products.product.add_to_cart_1' | t }}</span><span>{{ 'products.product.added_to_cart_1' | t }}</span>
                        <span class="button__out">{{ 'products.product.sold_out' | t }}</span>
                        <span class="button__in">{{ 'products.product.all_in_cart' | t }}</span>
                    </div>
                    <div class="button__bag">
                        <span>{{ 'products.product.add_to_cart_2' | t }}</span>
                        <i class="icon-bag_empty"></i>
                        <i class="icon-bag"></i>
                    </div>
                </div>
            </div>
            <hr>
        </form>
        {% include 'social-share' %}
    </section>
    <!-- Th rest of product images -->
    <section class="product__gallery product__gallery--desktop">
        {% for image in product.images %}
            {% unless image.alt == 'Mailing' or image.src contains 'Mobile' or image.src contains 'mobile'  %}
                {% if forloop.index > 3  %}
                    {% if forloop.index == 4 %}
                        <div class="product__image rellax" data-rellax-speed="1">
                            <img data-parallaxify-range-x="45" data-parallaxify-range-y="45" src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                        </div>
                    {% else %}
                        <div class="product__image rellax" data-rellax-speed="1.33">
                            <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                        </div>
                    {% endif %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    </section>

</main>

<script type="text/javascript">
    var product = {{ product | json }}
    var cart = {{ cart | json }}
    var selectedVariant = {{ variant | json }}

    {% if product.variants.size > 1 %}
        new Shopify.OptionSelectors('product-select-' + {{ product.id }}, { product: {{ product | json }}, onVariantSelected: selectCallback });
        function selectCallback(variant, selector) {
            selectedVariant = variant;
            if(!variant.available){
                document.querySelector('.product__buy').classList.add('hidden');
                document.querySelector('.product__unavailable').classList.remove('hidden');
            }else{
                document.querySelector('.product__buy').classList.remove('hidden');
                document.querySelector('.product__unavailable').classList.add('hidden');
            }
            var product = $('#' + selector.domIdPrefix).closest('.product');
            var button = product.find('.add-to-cart');
            if (variant) {
                product.find('.count__number').val(1);
                button.attr('data-cart-quantity', 1);
                product.find('.count__number').attr('data-inventory', variant.inventory_quantity);
                button.removeClass('button--disabled button--allin');
                if (variant.available) {
                    button.attr('data-variant-id', variant.id);
                } else {
                    button.addClass('button--disabled');
                    product.find('.count__number').val(0);
                }
            } else {
                button.addClass('button--disabled');
                // product.find('.count__number').val(0);
            }
            cart.items.forEach(function (item) {
                if (item.id === variant.id) {
                    product.find('.count__number').attr('data-inventory', variant.inventory_quantity - item.quantity);
                    if (variant.inventory_quantity - item.quantity === 0) {
                        button.addClass('button--allin');
                        product.find('.count__number').val(0);
                    }
                }
            });
            if (variant.inventory_management === null) {
                product.find('.count__number').attr('data-inventory', 99);
            }
        }

    {% else %}
        if (product.variants[0].inventory_management === null) {
            $('.count__number').attr('data-inventory', 99);
        }
        if ($('.count__number').attr('data-inventory') == 0) {
            $('.button--cart').addClass('button--disabled');
            $('.count__number').val(0);
        }
    {% endif %}

    // Toggling product description
    $('.product__notes .toggle-notes').on('click', function () {
        $(this).closest('.product__notes')
               .toggleClass('active');
    });

</script>

<script type="text/javascript">
    var product = {{ product | json }}

    var successBox = document.getElementById('notify-success');
    var errorBox = document.getElementById('notify-error');

    var boosterExistInterval = setInterval(function(){
        checkBoosterExist();
    }, 1000);

    if(!product.available || !product.variants[0].available){
        document.querySelector('.product__buy').classList.add('hidden');
        document.querySelector('.product__unavailable').classList.remove('hidden');
    }

    function checkBoosterExist(){
        var boosterTrigger = document.getElementById("booster-trigger");
        if(boosterTrigger){
            clearInterval(boosterExistInterval);
            boosterTrigger.parentNode.parentNode.removeChild(boosterTrigger.parentNode);
        }
    }

    document.getElementById('product-unavailable-button').addEventListener('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        hideSuccessError();
        document.getElementById('email_address').value = document.getElementById('product-unavailable-email').value;
        document.getElementById('variants').value = selectedVariant && selectedVariant.id || null;
        $.ajax({
            url: 'https://lovebilly-dev.myshopify.com/apps/restock',
            method: 'POST',
            data: {
                shop: 'lovebilly-dev.myshopify.com',
                product_id: product.id,
                customer_email: document.getElementById('product-unavailable-email').value,
                variant_id: selectedVariant && selectedVariant.id || null,
                quantity_required: null,
                accepts_marketing: false,
            },
            success: function(data){
                if(data.status === 'ok'){
                    showSuccess(data.notice);
                }else{
                    showError(data.alert);
                }

            },
            error: function(error){
                showError(error.alert);
            }

        })
    });

    successBox.addEventListener('click', function(){
        hideSuccessError();
    });

    errorBox.addEventListener('click', function(){
        hideSuccessError();
    });


    function showSuccess(notice){
        successBox.innerText = notice;
        successBox.classList.remove('hidden');
    }

    function showError(error){
        errorBox.innerText = error;
        errorBox.classList.remove('hidden');
    }

    function hideSuccessError(){
        errorBox.classList.add('hidden');
        successBox.classList.add('hidden');
    }

</script>
<section class="product container exico">
    <h3 class="exico_rc-header exico_rc-header--mobile">{{ 'products.general.related_products_title' | t }}</h3>
    {% include 'exico_cross_related' %}
</section>
