<main class="collection container">
    {% if search.performed %}
        {% if search.results_count == 0 %}
            <div class="search-no-results">
                <h1 class="h1">{{ 'general.search.no_results' | t }}</h1>
                <p class="p">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
            </div>
        {% else %}
            <span class="search-no-results-check"></span>
            {% for product in search.results %}
                {% if product.object_type == 'product' %}
                    {% include 'collection-item' %}
                {% endif %}
            {% endfor %}
            <div class="search-no-results">
                <h1 class="h1">{{ 'general.search.no_results' | t }}</h1>
                <p class="p">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
            </div>
        {% endif %}
    {% else %}
        <div class="search-no-results">
            <h1 class="h1">{{ 'general.search.no_results' | t }}</h1>
            <p class="p">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        </div>
    {% endif %}
</main>
