.alert-bar {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100vw;
    @extend .p;
    @extend .p--small;
    margin: 0;
    padding: 12px 2px;
    background: #000000;
    text-align: center;
    color: white;
}
