.button {
    display: inline-block;
    padding: 0 1em;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 36px;
    border: 2px solid $black;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    &.button--adding, &.button--added {
        background: $black;
        color: $white;
    }
    @media #{$rwd-sm-up} {
        &:hover {
            background: $black;
            color: $white;
        }
    }
    .button__out {
        display: none;
    }
    &--disabled {
        pointer-events: none;
        @media #{$rwd-sm-up} {
            &:hover {
                background: none;
                color: $black;
            }
        }
    }
    &--cart {
        position: relative;
        .button__message {
            display: inline-block;
            span {
                &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                    display: none;
                    position: relative;
                    &:after {
                        @extend .icomoon;
                        content: "\e90f";
                        font-size: 0.75em;
                        position: relative;
                        left: 0.2em;
                    }
                }
            }
        }

        .button__bag {
            position: relative;
            display: inline-block;
            span {
                position: relative;
                display: inline-block;
                transition: transform 0.3s, opacity 0.3s;
                transition-delay: 0.3s;
            }
            i {
                position: absolute;
                top: 100%;
                left: 50%;
                transition: transform 0.3s;
                transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
                transform: translate3d(-50%,0,0);
                line-height: inherit;

            }
        }

        &.button--adding {
            .button__bag {
                span {
                    opacity: 0;
                    transform: translate3d(0, -50%, 0);
                    transition-delay: 0s;
                }
                .icon-bag_empty {
                    transition-delay: 0.1s;
                    transform: translate3d(-50%, -100%, 0);
                }
            }
        }
        @media #{$rwd-sm-up} {
            &:hover {
                .button__bag {
                    span {
                        opacity: 0;
                        transform: translate3d(0, -50%, 0);
                        transition-delay: 0s;
                    }
                    .icon-bag_empty {
                        transition-delay: 0.1s;
                        transform: translate3d(-50%, -100%, 0);
                    }
                }
            }
        }
        &.button--adding {
            pointer-events: none;
        }
        &.button--added {
            pointer-events: none;
            .button__message {
                span {
                    &:nth-of-type(1) {
                        display: none;
                    }
                    &:nth-of-type(2) {
                        display: inline;
                    }
                }
            }

            .button__bag {
                span {
                    opacity: 0;
                    transform: translate3d(0, -50%, 0);
                    transition-delay: 0s;
                }
                .icon-bag_empty {
                    transform: translate3d(-50%, -200%, 0);
                }
                .icon-bag {
                    transition-delay: 0.1s;
                    transform: translate3d(-50%, -100%, 0);
                }
            }
        }

        &.button--allin {
            pointer-events: none;
            .button__bag {
                display: none;
            }
            .button__message {
                span {
                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                    &:nth-of-type(4) {
                        display: inline;
                        position: relative;
                        left: -0.12em;
                    }
                }
            }
        }

        &.button--disabled {
            .button__bag {
                display: none;
            }
            .button__message {
                span {
                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4) {
                        display: none;
                    }
                    &:nth-of-type(3) {
                        display: inline;
                        position: relative;
                        left: -0.12em;
                    }
                }
            }
        }
    }
    @media #{$rwd-sm-up} {
        font-size: 29px;
        line-height: 50px;
        border-width: 3px;
    }
    @media #{$rwd-lg-up} {
        font-size: 36px;
        line-height: 58px;
        &--cart {
            font-size: 29px;
            line-height: 50px;
        }
    }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
