.cc {
    &-window {
        position: fixed;
        z-index: 999;
        bottom: 0;
        padding: 40px 44px 33px 24px;
        width: 380px;
        max-width: 100%;
        @extend .h2;
        color: #ffffff;
        background: #000000;
        overflow: hidden;
        transition:  transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        &.cc-invisible {
            transform: translateY(100%);
        }
    }
    &-link {
        display: none;
    }
    &-compliance {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
    @media all and (min-width: 381px) {
        &-window {
            left: 50%;
            margin-left: -190px;
        }
    }

    @media #{$rwd-sm-up} {
        &-window {
            width: 528px;
            margin-left: -264px;
            padding: 51px 44px 41px 50px;
        }
        &-compliance {
            top: 15px;
            right: 15px;
        }
    }
}
