.count {
    display: inline-block;
    @extend .h1;
    span, input {
        float: left;
        display: inline-block;
        width: 1.25em;
        text-align: center;
        user-select: none;
    }
    span {
        margin-top: 0.15em;
        cursor: pointer;
    }
    @media #{$rwd-sm-up} {
        span {
            width: 0.9em;
        }
    }
}
