.exico {
    margin-top: 50px !important;

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    &_rc-row {
        /*PARENT DIV THAT CONTAINS ALL PRODUCT DIVS*/
        clear: both;
        text-align: center;
    }

    &_rc-item {
        /*DIV THAT CONTAINS SINGLE PRODUCT INFO, IMAGE AND PRICE*/
        @extend .h4;
        float: left;
        text-align: center;
        width: 25%;
        max-width: 350px;
        // min-width: 200px;
        min-width: 130px;
        // margin-right: 20px;
        padding-right: 20px;
        margin-bottom: 20px;

        // &:last-of-type {
        //     padding-right: 0;
        // }

    }

    &_rc-header {
        @extend .h3;
        margin-bottom: 1em;
    }

    &_rc-title {
        /*PRODUCT TITLE (FOR EACH CLICKABLE LINK)*/
        text-align: center;
        display: inline-block;
        min-height: 3.5em;
    }

    &_rc-header {
        /*SECTION TITLE*/
        text-align: center;

        &--mobile {
            display: none;
        }
    }

    &_rc-image {
        /*PRODUCT IMAGE*/
        width: 100%;
        margin-bottom: 10px;
    }

    &_rc-price {
        /*PRODUCT PRICE*/
        display: none;
    }

    @media #{$rwd-md-up} {
        &_rc-header {
            text-align: center;
        }

        &_rc-row {
            width: calc(100% + 20px);
            left: -10px;
            position: relative;
        }

        &_rc-item {
            padding: 0 10px;
            max-width: none;

            &:last-of-type {
                padding-right: 10px;
            }
        }
    }

    @media #{$rwd-sm-down} {
        &_rc-header {
            display: none;

            &--mobile {
                display: block;
            }
        }

        &_rc-row {
            display: flex;
            width: 100%;
            overflow: scroll;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }

        &_rc-item {
            margin: 0 auto 20px;
            float: none;
        }

        &_rc-title {
            text-align: left;
        }
    }

    // @media all and (max-width: 600px) {
    //     &_rc-item {
    //         margin: 0 auto 20px;
    //         float: none;
    //     }
    // }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important; /*DO NOT CHANGE ANYTHING HERE*/
}
