.filters {
    position: relative;
    left: 30px;
    padding-right: 30px;
    @extend %clearfix;
    font-family: $font-bold;
    font-size: 17px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: right;
    max-height: 0;
    transition: 1s max-height ease-out;
    overflow: hidden;

    input, .cf-title {
        display: none;
    }

    input:checked + span {

    }

    label {
        display: block;
        &:first-of-type {
            color: $grey;
            span {
                text-decoration: none;
            }
        }
        &:not(:first-of-type) {
            input:checked + span {
                &:before {
                    position: absolute;
                    top: -1px;
                    right: -30px;
                    @extend .icomoon;
                    content: "\e903";
                    transform: rotate(45deg);
                    font-size: 35px;
                }
                &:after {
                    position: relative;
                    @extend .icomoon;
                    content: "\e90d";
                    font-size: 1.25em;
                    margin-right: -1em;
                    position: relative;
                    top: 3px;
                }

            }
        }
    }

    .cf-options-container {
        position: relative;
        float: right;
        margin-left: 50px;
    }

    @media #{$rwd-sm-up} {

        label {
            &:not(:first-of-type) {
                input:checked + span {
                    &:before {
                        right: -35px;
                    }
                }
            }
        }
    }
}

.collection {
    &__filters {
        margin-bottom: 16px;
        text-align: right;
        user-select: none;
        .h3 {
            display: inline-block;
            margin-bottom: 13px;
            cursor: pointer;
            &:after {
                @extend .icomoon;
                content: "\e903";
                position: relative;
                top: 0.2em;
                left: 0.25em;
                font-size: 1.6em;
            }
        }
        &.active {
            .h3 {
                &:after {
                    content: "\e902";
                }
            }
            .filters {
                max-height: 1000px;
            }
        }
        &:not(.active) {
            .filters {
                transition: 0.5s max-height ease-out;
            }
        }
    }

    @media #{$rwd-sm-up} {

        &__filters {
            margin-bottom: 30px;
            .h3 {
                margin-bottom: 28px;
            }
        }
    }
}
