.form {
    position: relative;
    font-family: $font-main;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: $black;
    text-align: center;
    &__row {
        overflow: hidden;
    }
    &__field {
        position: relative;
        text-align: left;
        max-width: 416px;
        margin: 0 auto 1.33em auto;
        + .link {
            margin-top: 1.65em;
        }
        &--checkbox {
            margin-top: 1.33em;
            margin-bottom: 2.4em;
        }
        &--province {
            margin-bottom: 0;
        }
        &--dropdown {
            &:before {
                @extend .icomoon;
                content: "\e90e";
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.65em;
            }
        }
    }
    .button {
        margin: 1em 0 1.1em;
        cursor: pointer;
    }
    .errors {
        position: absolute;
        top: -3.15em;
        width: 100%;
        color: $red;
    }
    .link {
        margin-bottom: 0.575em;
        font-weight: 500;
        &--grey {
            color: $grey;
        }
    }
    @media #{$rwd-sm-up} {
        font-size: 24px;
        line-height: 32px;
        &__row {
            .form__field {
                max-width: none;
                width: 50%;
                float: left;
                margin-right: 0;
                margin-left: 0;
                &--dropdown {
                    &:first-of-type {
                        &:before {
                            right: 16px;
                        }
                    }
                }
                &:first-of-type {
                    padding-right: 16px;
                }

                &:last-of-type:not(:first-of-type) {
                    padding-left: 16px;
                }
            }
        }
    }
}
