.input {
    width: 100%;
    text-align: left;
    @include placeholder() {
        font: inherit;
        font-weight: 500;
        color: $grey;
    }
    &[disabled] {
        color: $black;
		opacity: 1;
	    -webkit-text-fill-color: $black;
    }
    &--email{
        border: 3px solid $black;
        @include placeholder(){
            color: $black;
        }
    }
    &--text {
        padding: 0.1em 0 0.1em 0.55em;
        border-bottom: 3px solid $black;
    }
    &--mailing {
        padding: 0.1em 0;
        @include placeholder() {
            font-weight: 500;
            color: inherit;
        }
    }
    &--search {
        padding-right: 1.64em;
        @extend .h1;
        color: $white;
        border-bottom: 3px solid $white;
        @include placeholder() {
            color: inherit;
        }
    }
    &--select {
        padding: 0.1em 0 0.1em 0.55em;
        appearance: none;
        border: 0;
        background: none;
        border-bottom: 3px solid $black;
        border-radius: 0;
        outline: 0;
        font: inherit;
        color: $black;
    }
    &--province {
        margin-bottom: 1.33em;
    }
    &--tag {
        font: 500 17px/24px $font-main;
        width: 6.66em;
        text-align: center;
        padding: 0.1em 0;
        border-bottom: 2px solid $black;
        @media #{$rwd-sm-up} {
            font-size: 23px;
            line-height: 32px;
        }
        &.shake-it {
            animation-duration: 0.88s;
            animation-name: shake;
        }
    }
}


@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-4px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(4px, 0, 0);
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 999999999s;
   transition-delay: 99999999s;
}