.label {
    display: none;
    position: absolute;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    &--checkbox {
        position: relative;
        display: block;
        color: $black;
        text-align: center;
        font-weight: 500;
        font-size: 1em;
        span {
            display: inline-block;
            &:before {
                position: relative;
                top: 0.5em;
                left: -0.88em;
                display: inline-block;
                content: '';
                width: 1.88em;
                height: 1.88em;
                border: 3px solid $black;
            }
        }
        input {
            display: none;
            &:checked {
                + span {
                    &:before {
                        background: $black;
                    }
                    &:after {
                        @extend .icomoon;
                        content: "\e90d";
                        position: absolute;
                        top: 0.5em;
                        left: 1.65em;
                        font-size: 1.6em;
                        color: $white;
                    }
                }
            }
        }
    }
    @media #{$rwd-sm-up} {
        &--checkbox {
            span {
                &:before {
                    top: 0.7em;
                }
            }
        }
    }
}
