.privy {
    *[style] {
        font-family: $font-main !important;
    }
    input {
        &[type=text], &[type=email] {
            padding: 0.1em 0 0.1em 0.55em !important;
            border: none !important;
            border-bottom: 3px solid $black !important;
            font-family: $font-main !important;
            outline: 0 !important;
            appearance: none !important;
            box-shadow: none !important;
            font-weight: 400 !important;
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
            font-size: 24px !important;
            line-height: 32px !important;
            @include placeholder() {
                font-family: $font-main !important;
                font-size: inherit !important;
                text-align: center !important;
                font-weight: 400 !important;
                color: $grey !important;
                opacity: 1 !important;
            }
        }
    }
    &-button-element[style] {
       display: inline-block !important;
       padding: 0 1em !important;
       font-family: $font-bold !important;
       border: 3px solid $black !important;
       text-transform: uppercase !important;
       user-select: none !important;
       cursor: pointer !important;
       overflow: hidden !important;
       transition: all 0.3s !important;
       background: none !important;
       box-shadow: none !important;
       color: $black !important;
       &:after {
           display: none !important;
       }
       &:hover {
           background: $black !important;
           color: $white !important;
       }
   }
   &-dismiss-content {
        top: 9px !important;
        right: 21px !important;
        font-size: 2.5em !important;
        background: none !important;
        &:before {
            background: none !important;
            @extend .icomoon;
            content: "\e90a";
            color: $black;
       }
       .privy-x {
           display: none !important;
       }
   }
   &-alert-error {
       background: none !important;
       color: $red !important;
       font-family: $font-main !important;
       font-size: 19px !important;
       font-weight: 500 !important;
       border: none !important;
       span {
            font-family: $font-main !important;
       }
   }
}
