.search {
    &-box {
        position: fixed;
        z-index: 5;
        top: 50vh;
        margin-top: -75px;
        opacity: 0;
        width: 100%;
        visibility: hidden;
        form {
            position: relative;
            max-width: 864px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.45em;
            @extend .h1;
            color: $white;
        }
        &__buttons {
            position: absolute;
            bottom: 0.37em;
            right: -0.4em;
            font-size: 0.61em;
            button {
                padding: 0 0.14em;
            }
            .icon-plus {
                display: block;
                transform: rotate(45deg);
            }
        }
        &__no-results {
            display: none;
            text-align: center;
            @extend .p;
            font-weight: 500;
            color: white;
        }
        &--active {
            opacity: 1;
            visibility: visible;
        }
        transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0.2s 0.01s;
        &:not(.search--active) {
            transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0.2s 0.01s;
        }
    }
    &-no-results {
        text-align: center;
        margin-bottom: 120px;
        h1 {
            margin-bottom: 1em;
        }
    }

}
