.share {
    font-size: 30px;
    &__button {
        position: relative;
        display: inline-block;
        margin: 6px 2px;
        width: 34px;
        height: 42px;
        overflow: hidden;
        cursor: pointer;
        > * {
            position: absolute !important;
            top: 0;
            left: 0;
            opacity: 0.00001;
        }
        &.icon-twitter {
            > * {
                top: 6px;
            }
        }
        &.icon-pinterest, &.icon-fancy  {
            > * {
                width: 100%;
                height: 100%;
            }
        }
        &.icon-googleplus {
            > * {
                top: 4px;
            }
        }
    }
}
