.account {
    .h1 {
        margin-bottom: 1.355em;
        small {
            display: block;
        }
    }
    &__nav {
        margin-bottom: 4.5em;
        .h2 {
            margin: 0 0 0.26em;
            text-align: center;
            color: $grey;
            span {
                cursor: pointer;
            }
            &.active {
                color: $black;
            }
        }
    }
    > div {
        display: none;
        &.active, &.account__addresses--order, &.account__orders--order {
            display: block;
        }
    }

    &__orders {
        .orders-none {
            text-align: center;
        }
        .orders-desktop {
            display: none;
        }
        .orders-mobile {
            width: 100%;
            td {
                text-align: right;
            }
            hr {
                margin: 20px 0 40px;
            }
            tr:last-of-type {
                hr {
                    margin-bottom: 0;
                }
            }
        }
        table {
            @extend .p;
            @extend .p--small;
        }
        td, th {
            vertical-align: top;
        }
        th {
            padding-bottom: 21px;
            font: {
                family: $font-bold;
                size: 17px;
                weight: normal;
            }
            line-height: 24px;
            text-align: left;
            text-transform: uppercase;
        }
    }

    &__addresses {
        .add-new-address {
            position: relative;
            margin-bottom: 2.6em;
            text-align: center;
            span {
                position: relative;
                cursor: pointer;
                &:before {
                    position: relative;
                    bottom: -0.28em;
                    left: -0.09em;
                    @extend .icomoon;
                    font-size: 2.75em;
                }
                &:first-of-type {
                    @extend .icon-plus;
                }
                &:last-of-type {
                    display: none;
                    @extend .icon-minus;
                }
            }
        }
        .address {
            margin-bottom: 3em;
            text-align: center;
            .h3 {
                margin-bottom: 25px;
            }
            &__data {
                p {
                    span {
                        display: block;
                    }
                }
            }
            &__buttons {
                font-size: 23px;
                line-height: 32px;
                a {
                    margin: 0 17px;
                    // color: $grey;
                    &.active, &:hover {
                        color: $black;
                    }
                    &.edit {
                        span {
                            &:first-of-type {
                                display: inline;
                            }
                            &:nth-of-type(2) {
                                display: none;
                            }
                        }
                        &.active {
                            span {
                                &:first-of-type {
                                    display: none;
                                }
                                &:nth-of-type(2) {
                                    display: inline;
                                }
                            }
                        }
                    }
                }
            }
            .form {
                margin-top: 4em;
            }
        }
        .form {
            .errors {
                top: -6.5em;
            }
        }
    }

    .form {
        display: none;
    }

    @media #{$rwd-sm-up} {
        &__nav {
            max-width: 648px;
            margin-right: auto;
            margin-bottom: 8.25em;
            margin-left: auto;
            overflow: hidden;
            .h2 {
                display: inline-block;
                margin: 0;
                &.toggle-orders {
                    float: right;
                }
                &.toggle-addresses {
                    float: right;
                    clear: right;
                }
            }
        }

        &__orders {
            .orders-mobile {
                display: none;
            }
            .orders-desktop {
                display: table;
                border-collapse: collapse;
                width: 100%;
                thead {
                    border-bottom: 3px solid $black;
                    th {
                        padding-bottom: 48px;
                    }
                    span {
                        display: inline-block;
                        max-width: 130px;
                    }
                }

                tbody {
                    td {
                        padding-top: 2em;
                    }
                }

                td, th {
                    padding-left: 20px;
                    &[colspan="5"] {
                        padding-left: 0;
                    }
                }

                &--small {
                    tbody {
                        td {
                            padding-top: 1.5em;
                        }
                    }
                }
            }
        }

        &__addresses {
            .address {
                text-align: left;
                &--order {
                    float: left;
                    width: 50%;
                }
                &__data {
                    position: relative;
                    max-width: 648px;
                    margin: 0 auto 3.5em auto;
                }
                &__buttons {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media #{$rwd-md-up} {

        &__orders {
            .orders-desktop {
                font-size: 23px;
                line-height: 32px;
                td, th {
                    padding-left: 32px;
                }
                &--small {
                    font-size: 17px;
                    line-height: 24px;
                }
            }
        }
    }

    @media #{$rwd-lg-up} {

        &__nav {
            .h2 {
                &.toggle-orders {
                    float: left;
                }
            }
        }

    }
}

.shopify-challenge {
    text-align: center !important;
    &__container {
        margin-top: 154px !important;
        margin-bottom: 5em !important;
        max-width: 500px !important;
        @media #{$rwd-sm-up} {
            margin-top: 400px !important;
        }
        @media #{$rwd-lg-up} {
            margin-top: 280px !important;
        }
    }
    &__message {
        @extend .h2;
        margin-bottom: 0.75em !important;
    }
    &__button {
        @extend .button;
        margin-top: 1em !important;
    }
}
