.article {
    position: relative;
    @extend %clearfix;
    margin: 0 auto 0 auto;
    text-align: center;
    background: #f5f4f2;
    &__title {
        margin: 1em 0 0.8em;
        text-transform: uppercase;
    }
    &__content {
        padding: 0 15px 30px 15px;
        p {
            @extend .p;
        }
        a {
            @extend .button;
        }
    }
    &__title, &__content {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    @media #{$rwd-sm-up} {
         max-width: 1200px;
         width: 100%;
         text-align: left;
         &__image {
             width: 100%;
         }
         &__content, &__title {
             max-width: 414px;
         }
    }

    @media #{$rwd-md-up} {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__image {
            width: 85%;
        }
        &__content {
            position: absolute;
            padding-top: 50px;
        }
        &--right {
            justify-content: flex-start;
            .article__content {
                right: 5%;
            }
            .article__image {
                // float: left;
            }
        }

        &--left {
            justify-content: flex-end;
            .article__content {
                left: 7%;
            }
            .article__image {
                // float: right;
                order: 2;
            }
        }
    }

    @media #{$rwd-lg-up} {
        max-width: 1400px;
        &--left {
            .article__content {
                left: 10%;
            }
        }
        &__content, &__title {
            max-width: 500px;
        }
    }

    .rellax {
        @media #{$rwd-sm-down} {
            transform: none !important;
        }
    }
}
