.blog {
    padding: 0;
    &__header {
        text-align: center;
        img {
            width: 100%;
        }
        .title {
            width: 100%;
            h1 {
                max-width: 12em;
                margin: 0.8em auto 1.15em auto;
                text-transform: uppercase;
                i {
                    display: inline-block;
                    margin-left: 0.25em;
                    font-size: 0.8em;
                }
                @media #{$rwd-sm-down} {
                    span, & {
                        color: $black !important;
                    }
                }
            }
        }
        // .scroll-down {
        //     display: block;
        //     width: 48px;
        //     height: 48px;
        //     margin: 0 auto;
        //     border: 2px solid;
        //     font-size: 24px;
        //     line-height: 48px;
        //     cursor: pointer;
        // }
        .teaser {
            margin-top: 0.9em;
            text-transform: uppercase;
        }
    }
    @media #{$rwd-md-up} {
        &__header {
            position: relative;
            .title {
                position: absolute;
                top: 28%;
            }
            // .scroll-down {
            //     width: 64px;
            //     height: 64px;
            //     font-size: 32px;
            //     line-height: 64px;
            // }
            .teaser {
                position: relative;
                top: -77px;
                color: $white;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &.container {
            padding: 0;
        }
    }
}
