.cart {
    &__title {
        margin-bottom: 2em;
        text-align: center;
    }
    &__empty {
        text-align: center;
        .h2 {
            margin-bottom: 0.5em;
        }
        a {
            text-decoration: underline;
        }
    }
    &__checkout, &__button {
        margin-top: 80px;
        text-align: center;
    }

    &__button {
        p {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
        button {
            margin: 1.44em 0;
        }
    }

    &__subtotal {
        margin-bottom: 1.35em;
    }
}

.item {
    position: relative;
    margin-bottom: 42px;
    > * {
        transition: all 0.5s ease-out;
    }
    &--byebye {
        > *:not(.item__divider) {
            opacity: 0.01;
            filter: blur(25px);
        }
    }

    &__title {
        margin-bottom: 40px;
    }
    &__image {
        width: 66%;
        margin-bottom: 10px;
    }
    &__info {
        @extend .h3;
    }

    &__count {
        width: 100%;
        margin: 0.55em 0 0.9em -10px;
    }

    &__update {
        float: right;
        @media all and (min-width: 370px) {
            float: none;
            margin-left: 15px;
        }
    }

    &__remove {
        position: absolute;
        top: 20%;
        right: 10%;
        i {
            display: inline-block;
            position: relative;
            top: 0.23627em;
            left: 0.11em;
            transform: rotate(45deg);
            font-size: 1.77em;
        }
        @media all and (min-width: 501px) {
            top: 12%;
            right: 15%;
        }
    }

    &__divider {
        margin: 42px 0;
        clear: both;
    }

    @media #{$rwd-sm-up} {

        &__title, &__info {
            float: right;
            width: 61%;
            max-width: 529px;
            overflow: hidden;
        }

        &__info {
            margin-bottom: 54px;
        }

        &__image {
            float: left;
            width: 38%;
        }

        &__count {
            margin: 0.35em 0 0.3em -10px;
        }

        &__update {
            float: right;
            margin-top: 0.15em;
            margin-left: 0;
        }

        &__remove {
            position: initial;
            margin-left: -18px;
            i {
                top: 0.326em;
                left: 0.02em;
                font-size: 2.75em;
            }
        }

        &__checkout {
            margin-top: 120px;
        }

    }

    @media #{$rwd-sm-up} {

        max-width: 1088px;
        margin-right: auto;
        margin-left: auto;

        &__update {
            float: none;
            margin-left: 5px;
        }
    }

    @media #{$rwd-md-up} {

        &__update {
            margin-left: 25px;
        }
    }
}

// Shipping Rates Calculator

.cbb-shipping-rates-calculator {
    @extend .p;
    max-width: 528px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.cbb-shipping-rates-calculator-header {
    margin-bottom: 1em !important;
    font-weight: 500 !important;
    border: none !important;
    text-align: center !important;
}

.cbb-shipping-rates-calculator-totals {
    margin-top: 2.5em;
    @extend .h3;
    > span {
        border-bottom: 1px solid rgba($black, 0.2);
        line-height: 2.15;
        &:first-of-type {
            border-top: 1px solid rgba($black, 0.2);
        }
    }
    span {
        text-align: left !important;
        &.money {
            text-align: right !important;
            border: none !important;
        }
    }

}

.cbb-shipping-rates-rate-list {
    width: 100% !important;
    padding: 0 !important;
}

.cbb-shipping-rates-rate-item {
    width: 100%;
    max-width: 400px;
    margin-right: auto !important;
    margin-left: auto !important;
    .money {
        float: right;
    }
    label {
        width: 100%;
        position: relative;
        padding-left: 1.9em !important;
        &:before, &:after {
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        &:before {
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border: 2px solid $black;
        }
    }
    input {
        display: none !important;
        &:checked {
            + label {
                &:after {
                    top: 6px;
                    left: 6px;
                    width: 12px;
                    height: 12px;
                    background: $black;

                }
            }
        }
    }
    @media #{$rwd-sm-up} {
        label {
            &:before {
                top: 5px;
            }
            &:after {

            }
        }
        input {
            &:checked {
                + label {
                    &:after {
                        top: 11px;
                    }
                }
            }
        }
    }
}

.cbb-shipping-rates-calculator-change-shipping-address {
    width: 100%;
    cursor: default !important;
    text-align: center !important;
    border: none !important;
    margin-top: 2em !important;
    &-link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.cbb-shipping-rates-calculator-shipping-address-chooser {
    text-align: center;
    input, select {
        width: 100% !important;
        max-width: 416px !important;
        margin: 1em auto !important;
        text-align: left !important;
    }
    select {
        padding: 0.1em 0 0.1em 0.55em !important;
        appearance: none !important;
        border: 0 !important;
        background: none !important;
        border-bottom: 3px solid $black !important;
        border-radius: 0 !important;
        outline: 0 !important;
        font: inherit !important;
        color: $black !important;
        position: relative !important;
        background-image: url('dropdown_arrow.svg') !important;
        background-position: 100% 8px !important;
        background-repeat: no-repeat !important;
        @media #{$rwd-sm-up} {
            background-size: 39px;
            background-position: 100% 0 !important;
        }
    }

    .button {
        display: inline-block !important;
        margin-top: 1.33em !important;
    }

    input[type=text] {
        @include placeholder() {
            font: inherit !important;
            font-weight: 500 !important;
            color: $grey !important;
        }
        padding: 0.1em 0 0.1em 0.55em !important;
        border-bottom: 3px solid $black !important;
    }
}

.cbb-shipping-rates-error-message {
    color: $red !important;
    background: none !important;
    text-align: center !important;
}
