.collection {

    &__product {
        @extend %clearfix;
        margin-bottom: 18px;
        text-align: right;
        overflow: hidden;
        a {
            display: block;
            overflow: hidden;
        }
        img {
            display: block;
            width: 100%;
        }
        h1 {
            margin-top: 7px;
            font-family: $font-bold;
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.04em;
        }
        .share {
            margin: 5px 0;
        }
        + .search-no-results {
            display: none;
        }
    }

    @media #{$rwd-sm-up} {
        &__product {
            width: 50%;
            float: left;
            &:nth-of-type(odd) {
                padding-right: 16px;
                clear: left;
            }
            &:nth-of-type(even) {
                padding-left: 16px;
            }
            h1 {
                margin-top: 8px;
            }
            .share {
                margin: 3px 0;
            }
        }
    }

    @media #{$rwd-lg-up} {

        &.container {
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
        }

        &__product {
            margin-bottom: 40px;

            h1 {
                float: right;
            }
            .share {
                float: left;
            }
        }
    }
}
