.footer {
    text-align: center;
    padding: 21px 0;
    padding-bottom: 48px;

    &__social {
        margin: 32px 0 35px 0;
        font-size: 36px;
        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    &__nav {
        font-size: 16px;
        line-height: 2;
    }

    @media #{$rwd-sm-up} {
        &__nav {
            max-width: 700px;
            margin: 0 auto;
            font-size: 18px;
            li {
                display: inline-block;
                margin: 0 24px;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__nav {
            max-width: none;
        }
    }
}
