.header {
    // display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;

    .template-index & {
        position: absolute;
    }

    // Billy! logo
    &__logo {
        position: relative;
        z-index: 3;
        float: left;
        margin: 27px 0 0 $padding-mobile;

        a {
            display: block;
            width: 120px;
            height: 48px;
            background-image: url('Billy_logo_dark.png');
            background-size: contain;
            background-repeat: no-repeat;
            text-indent: -9999px;
            transform: translateY(0%);
            transition: transform 0.2s 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .template-index & {
            transform: none !important;
        }
    }

    &__nav {

        // Secondary nav (top right)
        &--secondary {
            position: relative;
            z-index: 1;
            float: right;
            margin: 20px 16px 0 0;
            a {
                display: inline-block;
                vertical-align: top;
                width: 40px;
                height: 40px;
                padding-top: 4px;
                font-family: $font-bold;
                font-size: 16px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                text-align: center;

                // Search item with glass icon
                &.header__nav-search {
                    margin-right: 3px;
                    i {
                        position: relative;
                        top: 6px;
                        font-size: 20px;
                    }
                }

                // Bag icon with counter
                &.header__nav-bag {
                    position: relative;
                    margin: 5px 11px 0 0;
                    padding-left: 24px;
                    width: 50px;
                    span {
                        position: relative;
                        &:before {
                            @extend .icomoon;
                            content: "\e900";
                            position: absolute;
                            top: -2px;
                            left: -21px;
                            font-size: 22px;
                        }
                        &[data-cart-count='0'] {
                            &:before {
                                content: "\e90c";
                            }
                        }
                    }
                }

                // Nav button
                // http://codepen.io/icutpeople/pen/Kcxdp
                &.header__nav-btn {
                    position: relative;
                    span {
                        position: absolute;
                        left: 14px;
                        display: block;
                        width: 12px;
                        height: 2px;
                        background: $black;
                        backface-visibility: hidden;
                        transition: 0.5s;
                        &:nth-of-type(1) {
                            top: 14px;
                        }
                        &:nth-of-type(2) {
                            top: 19px;
                        }
                        &:nth-of-type(3) {
                            top: 24px;
                        }
                    }
                }
            }
        }

        // Primary (main) navigation
        &--primary {
            position: fixed;
            top: 63px;
            left: 24px;
            @extend .h1;
            color: $white;
            visibility: hidden;
            ul {
                transform: translateY(-160%);
                transition: transform 0.35s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            .subnav {
                display: none;
                // font-size: 0.66em;
                // line-height: 1;
                margin: 0 0 0 0.77em;
                opacity: 0;
                transition: 0.5s 0.25s opacity;
                &.active {
                    opacity: 1;
                }

                a {

                    &.active {
                        &:after {
                            display: none;
                        }
                        &:before {
                            display: inline-block;
                            content: '>';
                        }
                    }
                }
            }

            hr {
                display: block;
                height: 3px;
                background: white;
                margin: 36px 0 32px;
            }

            .primary-mobile {
                font-size: 17px;
            }

            a {
                display: inline-block;
                &.active {
                    &:after {
                        @extend .icomoon;
                        content: "\e90f";
                        font-size: 0.7em;
                        position: relative;
                        top: -0.05em;
                        left: 0.1em;
                    }
                    + .subnav {
                        display: block;
                        opacity: 1;
                    }
                }
            }
            .template-index & {
                transform: none !important;
                position: absolute;
            }
        }
    }

    &--overlay {
        z-index: 3;
    }

    // .header--dark (homepage)
    &--light {

        .header__logo {
            a {
                background-image: url('Billy_logo_white.png');
            }
        }

        .header__nav {

            &--secondary {
                color: $white;
                a {
                    &.header__nav-btn {
                        span {
                            background: $white;
                        }
                    }
                }
            }
        }
    }

    &--alert {
        top: 48px;
        + main {
            margin-top: 182px;
        }
    }

    &__overlay {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(black, 0.85);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 1s 0.01s;

        &--search {
            z-index: 4;
        }
        &:not(.header__overlay--active) {
            transition: opacity 0.35s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 1s 0.01s;
        }
        &--active {
            visibility: visible;
            opacity: 1;

        }
    }

    &:not(.mobile-nav-open) {
        .header {
            &__nav {
                &--primary {
                    transition: visibility 1s 0.01s;
                }
            }
        }
    }

    &.mobile-nav-open {
        .header {
            &__logo {
                a {
                    transform: translateY(-300%);
                    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
            &__nav {
                &--secondary {
                    a {
                        opacity: 0;
                        &.header__nav-btn {
                            opacity: 1;
                            span {
                                background: $white;
                            }
                        }
                    }
                }

                &--primary {
                    display: block;
                    color: $white;
                    visibility: visible;
                    ul {
                        transform: translateY(0);
                        transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                }
            }
        }
    }

    // header TABLET H
    @media #{$rwd-sm-up} {

        .template-index & {
            position: absolute;
        }

        &--light {
            .header__nav {
                &--primary {
                    color: $white;
                }
            }
        }

        &--alert {
            + main {
                margin-top: 358px;
            }
        }

        // Billy! logo TABLET H
        &__logo {
            margin: 45px 0 0 $padding-desktop;
            a {
                width: 256px;
                height: 103px;
            }
        }

        &__overlay {
            transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 1s 0.01s;
            &:not(.header__overlay--active) {
                transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 1s 0.01s;
            }
        }

        &__nav {
            // color: $white;
            &--secondary {
                // margin: 30px 52px 0 0;
                margin: 30px 16px 0 0;
                a {
                    width: auto;
                    height: auto;
                    padding-top: 0;

                    &:not(.header__nav-bag) {
                        margin: 5px 24px 0 4px;
                    }

                    &.header__nav-search {
                        i {
                            display: none;
                        }
                    }

                    &.header__nav-btn {
                        display: none;
                    }
                }
            }

            &--primary {
                display: block;
                top: 210px;
                left: $padding-desktop;
                color: rgba($black, 0.2);
                visibility: visible;
                a {
                    transition: color 0.25s;
                    &:hover, &.active {
                        color: $black;
                    }
                }
                .primary-mobile, hr {
                    display: none;
                }
                .template-index & {
                    position: absolute;
                }
                ul {
                    transform: translateY(0);
                    transition: none;
                }
                .header--alert & {
                    margin-top: 48px;
                    .template-index & {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    // header DESKTOP
    @media #{$rwd-lg-up} {

        // Billy! logo DESKTOP
        &__logo {
            float: none;
            position: absolute;
            left: 50%;
            margin-left: -128px;
            margin-right: auto;
        }

        &__nav {
            &--primary {
                top: 40px;
            }
            &--secondary {
                margin: 30px 52px 0 0;
            }
        }
    }
}
