.homepage {
    &__slider {
        width: 100vw;
        height: 100vh;
        .slide {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 100% 50%;
            @media #{$rwd-sm-up} {
                background-position: 100% 50% !important;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            li {
                position: relative;
                display: inline-block;
                margin: 0 6px 22px 6px;
                &:before {
                    @extend .icomoon;
                    content: "\e90f";
                    position: absolute;
                    bottom: 0.199em;
                    left: -0.01em;
                    font-size: 2.8em;
                    color: $white;
                    transform: scale(0);
                    transform-origin: bottom;
                    transition: transform 0.2s ease-out;
                }
                &.slick-active {
                    &:before {
                        transform: scale(1);
                    }
                }
            }
            button {
                width: 12px;
                height: 12px;
                background: $white;
                border-radius: 50%;
                text-indent: -9999px;
            }
        }
    }
}
