.mailing {
    padding-top: 60px;
    padding-bottom: 37px;
    text-align: center;
    &__form {
        width: 100%;
        max-width: 640px;
        margin: 60px auto 0 auto;
        .input {
            text-align: center;
        }
    }

    &__button {
        max-height: 0;
        transition: all 0.3s;
        overflow: hidden;
        .button {
            margin: 1em 0 0;
        }
    }
    &--valid {
        .mailing__button {
            max-height: 100px;
        }
    }
    @media #{$rwd-md-up} {
        padding-top: 103px;
    }
}
