.page {
    margin-bottom: 5em;
    h1 {
        @extend .h1;
        margin-bottom: 1.78em;
        text-align: center;
    }
    h2 {
        @extend .h2;
        margin: 2em 0 0.5em;
    }
    h3 {
        @extend .h3;
    }
    p, .note {
        @extend .p;
        a {
            text-decoration: underline;
        }
    }

    .note {
        text-align: center;
    }

    &--404 {
        text-align: center;
        .h1 {
            margin-bottom: 0;
            font-size: 140px;
            line-height: 1;
        }
        .h2 {
            margin-top: 1em;
        }
        p {
            max-width: 416px;
            margin-left: auto;
            margin-right: auto;
        }
        @media #{$rwd-sm-up} {
            .h1 {
                font-size: 300px;
            }
        }
    }

    &--about-new {
        text-align: center;
        img {
            width: 100%;
            margin-bottom: 35px;
        }
        p {
            max-width: 32em;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        @media #{$rwd-lg-up} {
            padding-top: 66px;
            img {
                margin-bottom: 66px;
            }
        }
    }

    &--faq {
        h3 {
            position: relative;
            margin-bottom: 3.13em;
            padding-right: 2em;
            cursor: pointer;
            @extend .icon-plus;
            &:before {
                position: absolute;
                right: 0;
                bottom: -0.2em;
                @extend .icomoon;
                font-size: 1.7777777778em;
                color: $black;
            }
            &:after {
                position: absolute;
                left: 0;
                top: -1.62em;
                content: '';
                width: 100%;
                height: 3px;
                background: $black;
            }
            &.active {
                color: $black;
                @extend .icon-minus;
            }
            &:first-of-type {
                margin-top: 2em;
                &:after {
                    display: none;
                }
            }
            + div {
                display: none;
                position: relative;
                top: -2.9em;
                h2 {
                    margin-top: 1.11em;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                @media #{$rwd-sm-up} {
                    top: -3.2em;
                }
                @media #{$rwd-lg-up} {
                    top: -4.44em;
                }
            }
        }
    }
}
