.product {
    &__title {
        margin-bottom: 11px;
        line-height: 1;
        span {
            display: block;
            max-width: 10em;
        }
        &--desktop {
            display: none;
        }
    }

    &__info {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;

        .product__title {
            order: 1;
        }

        .product__form {
            order: 2;
        }

        .product__notes {
            order: 3;
        }

        .product__hr {
            order: 4;
        }

        .share {
            order: 5;
        }

        .name-label {
            float: left;
        }
        .count {
            margin-left: -10px;
        }
        .add-to-cart {
            float: right;
        }

        &:not(.product__info--personalized) {
            hr {
                float: left;
            }
        }
    }

    &__notes {
        .name-label {
            margin: 17px 0 15px;
        }
        .toggle-notes {
            cursor: pointer;
        }
        [class^="icon"] {
            float: right;
            margin: 16px 0 15px;
        }
        .icon-minus {
            display: none;
        }
        .notes {
            max-height: 0;
            transition: 0.75s max-height ease;
            overflow: hidden;
            clear: both;
            p, ul {
                @extend .p;
                @extend .p--small;
            }
            ul {
                list-style: none;
                li {
                    list-style-position: inside;
                    text-indent: -0.6em;
                    padding-left: 0.6em;
                    &:before {
                        margin-right: 0.3em;
                        content: '-';
                    }
                }
            }
        }
        &.active {
            .icon-minus {
                display: block;
            }
            .icon-plus {
                display: none;
            }
            .notes {
                max-height: 1000px;
            }
        }
        &:not(.active) {
            .notes {
                transition: 1s max-height ease-out;
            }
        }
    }

    &__personalize {
        overflow: hidden;
        padding: 20px 0 10px;
        .input--tag {
            float: right;
            position: relative;
            top: 1px;
        }
    }

    &__form {
        user-select: none;
    }

    &__options {
        display: none;
    }

    &__variants {
        .single-option-selector {
            display: none;
        }
        .selector-wrapper {
            display: none;
        }
        .selector-wrapper, .option-container {
            @extend %clearfix;
            padding-top: 17px;
        }
        .option {
            display: inline-block;
            float: right;
            li {
                display: inline-block;
                cursor: pointer;
            }
            &--size {
                margin-bottom: 15px;
                li {
                    margin-left: 24px;
                    font-family: $font-main;
                    font-weight: 500;
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
            &--color {
                max-width: 194px;
                text-align: right;
                margin-top: -12px;
                margin-bottom: 3px;
                overflow: hidden;
                li {
                    position: relative;
                    text-indent: -9999px;
                    margin: 6px 0px 9px 20px;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    text-indent: 9999px;
                    white-space: nowrap;

                    img {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 24px;
                        width: 24px;
                    }

                    &.active {
                        &:before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            border-radius: 50%;
                            border: 3px solid black;
                            width: 28px;
                            display: block;
                            height: 28px;
                        }
                    }
                }
            }
        }
    }

    &__buy {
        padding: 15px 0;
    }

    &__unavailable{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        width: 100%;
        &--info{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 26px;
        }

        .product-label{
            text-align: left;
        }
        .product-desc{
            font-family: "futura-pt-bold", sans-serif;
            font-size: 16px; 
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-align: right;
        }
        &--form{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;   
            padding-top: 13px;
            padding-bottom: 26px;
            @media #{$rwd-mobile}{
                flex-direction: column; 
            }
            input{
                flex: 2;
                text-align: center;
                font-size: 26px;
                line-height: 52px;
                padding: 0;
                background-color: transparent !important;
                text-transform: uppercase;
                height: 52px;
                @media #{$rwd-mobile}{
                    flex: 1;
                    width: 100%;
                }
            }
            button{
                flex: 1;
                background-color: $black;
                color: $white;
                font-size: 26px;
                line-height: 26px;
                margin-left: 16px;
                padding: 0px 14px;
                height: 52px;
                cursor: pointer;
                @media #{$rwd-mobile}{
                    flex: 1;
                    width: 100%;
                    margin-left: 0;
                    margin-top: 16px;
                }
            }
        }
        .notify-success{
            width: 100%;
            text-align: center;
            padding: 100%;
            color: $black;
            padding: 0 0 26px 0;
            font-size: 17px;
            line-height: 24px;
            font-family: "futura-pt", sans-serif;
            font-weight: 500;
            cursor: pointer;
        }

        .notify-error{
            width: 100%;
            text-align: center;
            padding: 100%;
            color: $red;
            padding: 0 0 26px 0;
            font-size: 17px;
            line-height: 24px;
            font-family: "futura-pt", sans-serif;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .share {
        margin: 12px 0 33px -5px;
        li {
            display: inline-block;
        }
    }

    &__image {
        margin-bottom: 19px;
        &:last-of-type:not(.product__image--featured) {
            margin-bottom: 5px;
        }
        &--featured {
            display: none;
            position: relative;
            margin-bottom: 11px;
            img {
                width: 100%;
            }
        }
        &--personalized {
            position: relative;
            .personalized-letter {
                position: absolute;
                bottom: 12.5%;
                left: 21%;
                width: 7.5%;
                height: 15%;
                background-size: 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
            &.product__image--back {
                .personalized-letter {
                    bottom: 12.5%;
                    left: 21%;
                    width: 7.5%;
                    height: 15%;
                }
            }
            @media all and (max-width: 500px) {
                .personalized-letter {
                    bottom: 14%;
                }
                &.product__image--back {
                    .personalized-letter {
                        bottom: 14%;
                    }
                }
            }
        }
    }

    &__gallery {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: block;

            .slick-arrow {
                font-weight: 700;
                text-indent: 0;
            }
        }
    }

    // product TABLET H
    @media #{$rwd-sm-up} {

        margin-top: 128px;

        &__header {
            display: flex;
            flex-direction: column;
        }
        &__image--featured {
            display: block;
            order: 1;
        }
        &__title {
            order: 2;
            margin: 0 auto 44px auto;
        }
        &__title, &__info {
            width: 528px;
            max-width: 528px;
            margin-right: auto;
            margin-left: auto;
        }

        &__gallery {
            &--desktop {
                display: block;
            }

            &--mobile {
                display: none;
            }
        }

        &__notes {
            padding-bottom: 11px;

            .name-label {
                margin: 26px 0 13px;
            }
            [class^="icon"] {
                float: right;
                margin: 25px 0 15px;
            }
            .notes {
                padding-right: 25px;
            }
        }

        &__personalize {
            padding: 25px 0 14px;
            .input {
                top: -9px;
            }
        }

        &__variants {
            .selector-wrapper, .option-container {
                padding-top: 26px;
            }
            .option {
                &--size {
                    margin-bottom: 24px;
                }
                &--color {
                    max-width: 400px;
                    margin-bottom: 11px;
                }

            }
        }

        &__buy {
            padding: 27px 0 24px 0;
        }
    }

    // product tablet W
    @media #{$rwd-md-up} {
        position: relative;
        margin-top: 280px;

        &__title {
            top: 0;
            &--mobile {
                display: none;
            }
            &--desktop {
                display: block;
            }
        }

        &__image {
            &--featured {
                width: 100%;
            }
        }

        &__info {
            position: absolute;
            z-index: 1;
            top: 0;
            margin-top: 30px;
            right: 64px;
            .add-to-cart {
                margin-top: 4px;
            }
        }

        &__personalize {
            padding: 25px 0 20px;
            .input {
                top: -3px;
            }
        }

        &__variants {
            .selector-wrapper, .option-container {
                padding-top: 26px;
            }
            .option {
                &--color {
                    margin-top: -5px;
                }
            }
        }

        &__buy {
            padding: 13px 0 8px 0;
        }

        .share {
            margin-top: 20px;
        }

        &__gallery {
            .product__image {
                &:not(.product__image--personalized) {
                    &:nth-of-type(1) {
                        img {
                            width: 45%;
                        }
                    }

                    &:nth-of-type(2) {
                        img {
                            width: 100%;
                        }
                    }
                }
                &--personalized {
                    img {
                        width: 100%;
                    }
                }

            }
        }
    }

    // product DESKTOP
    @media #{$rwd-lg-up} {
        &.container {
            padding: 0 $padding-desktop;
        }
        &__info {
            right: 10%;
        }
        &__image {
            &:last-of-type:not(.product__image--featured) {
                position: relative;
                z-index: -1;
                // top: -77px;
            }
        }
        .h1 {
            font-size: 48px;
            line-height: 40px;
        }
        .h3 {
            font-size: 29px;
            line-height: 32px;
        }
    }

    @media all and (min-width: 1400px) {
        &.container {
            padding: 0 $padding-desktop*2;
        }
    }

    @media #{$rwd-xs-down} {
        &__title {
            margin: 20px 0;
        }
    }

}
