<!-- /templates/customers/login.liquid -->

<main class="page container container--narrow">
    <h1 id="MainTitle" class="h1">{{ 'customer.login.title' | t }}</h1>

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      us assign a variable 'reset_success' to true, which is used in JS to show our success message.
    {% endcomment %}

    <div class="note form-success" id="ResetSuccess" style="display:none;">
        {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="form">
        {% form 'customer_login' %}

        {{ form.errors | default_errors }}

        <div class="form__field">
            <label for="CustomerEmail" class="label">{{ 'customer.login.email' | t }}</label>
            <input placeholder="{{ 'customer.register.email' | t }}" type="email" name="customer[email]" id="CustomerEmail" class="input input--text {% if form.errors contains "email" %}input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
        </div>

        {% if form.password_needed %}
            <div class="form__field">
                <label for="CustomerPassword" class="label">{{ 'customer.login.password' | t }}</label>
                <input placeholder="{{ 'customer.register.password' | t }}" autocomplete="new-password" type="password" value="" name="customer[password]" id="CustomerPassword" class="input input--text {% if form.errors contains "password" %}input--error{% endif %}">
            </div>
            <p class="link">
                <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
            </p>
        {% endif %}

        <input type="submit" class="button" value="{{ 'customer.login.sign_in' | t }}">

        {% if shop.customer_accounts_optional %}
          <p class="link">
            <a href="/account/register">or {{ 'customer.register.title' | t }}</a>
          </p>
        {% endif %}

      {% endform %}
    </div>

    {% comment %}
      This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="RecoverPasswordForm" class="form" style="display: none;">

        <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% comment %}
        This form must use 'recover_customer_password'
      {% endcomment %}
      {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        {% comment %}
          form.posted_successfully? is true only inside this form, but we want
          to show a success message outside of it. To do so, set the variable
          reset_success to true, then use JS to show our success message above.
        {% endcomment %}
        {% if form.posted_successfully? %}
          {% assign reset_success = true %}
        {% endif %}

        <div class="form__field">
            <label for="RecoverEmail" class="label">{{ 'customer.recover_password.email' | t }}</label>
            <input placeholder="{{ 'customer.recover_password.email' | t }}" type="email" name="email" id="RecoverEmail" class="input input--text" autocorrect="off" autocapitalize="off">
        </div>

        <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">
        <p>
            <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
        </p>
      {% endform %}

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}
</main>


<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display='none';
    document.getElementById('MainTitle').textContent = '{{ 'customer.recover_password.title' | t }}';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
    document.getElementById('MainTitle').textContent = '{{ 'customer.login.title' | t }}';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
      document.getElementById('ResetSuccess').style.display = 'block';
      document.getElementById('CustomerLoginForm').style.display = 'none';
  {% endif %}
</script>
