<!-- /templates/customers/order.liquid -->

<main class="page account container container--narrow">
    <h1 class="h1">
    	{{ 'customer.order.title' | t }} {{ order.name }}
    	<small class="p"><br>{{ order.created_at | date: "%d-%m-%Y" }}</small>
    </h1>


    <div class="account__addresses account__addresses--order">

        <div class="address address--order">
            <div class="address__data">
                <h3 class="h3">{{ 'customer.order.billing_address' | t }}</h3>
                <p>
                	<span class="p--small">{{ 'customer.orders.payment_status' | t }}: {{ order.financial_status | camelize }}</span>
                    
                    {% if order.billing_address.company != '' %}
				        <span>{{ order.billing_address.company }}</span>
				    {% endif %}
				    <span>{{ order.billing_address.name }}</span>
                    <span>{{ order.billing_address.street }}</span>
					<span>{{ order.billing_address.city }}</span>
					{% if order.billing_address.province != '' %}
						<span>{{ order.billing_address.province }}</span>
					{% endif %}
					<span>{{ order.billing_address.zip | upcase }}</span>
					<span>{{ order.billing_address.country }}</span>
					<span>{{ order.billing_address.phone }}</span>
                </p>
            </div>
        </div>
        <div class="address address--order">
            <div class="address__data">
                <h3 class="h3">{{ 'customer.order.shipping_address' | t }}</h3>
				<p>
	            	<span class="p--small">{{ 'customer.orders.fulfillment_status' | t }}: {{ order.fulfillment_status | camelize }}</span>

					{% if order.shipping_address.company != '' %}
						<span>{{ order.shipping_address.company }}</span>
					{% endif %}
					<span>{{ order.shipping_address.name }}</span>
					<span>{{ order.shipping_address.street }}</span>
					<span>{{ order.shipping_address.city }}</span>
					{% if order.shipping_address.province != '' %}
						<span>{{ order.shipping_address.province }}</span>
					{% endif %}
					<span>{{ order.shipping_address.zip | upcase }}</span>
					<span>{{ order.shipping_address.country }}</span>
					<span>{{ order.shipping_address.phone }}</span>
				</p>
            </div>
        </div>

    </div>



    <div class="account__orders account__orders--order">

        <table class="orders-mobile">

            {% for line_item in order.line_items %}
                <tr>
                    <th>{{ 'customer.order.product' | t }}</td>
                    <td>{{ line_item.title | link_to: line_item.product.url }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.order.sku' | t }}</td>
                    <td>{{ line_item.sku }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.order.price' | t }}</td>
                    <td>{{ line_item.price | money }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.order.quantity' | t }}</td>
                    <td>{{ line_item.quantity }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.order.total' | t }}</td>
                    <td>{{ line_item.line_price | money }}</td>
                </tr>
                <tr>
                    <td colspan="2"><hr class="hr hr--bold"></td>
                </tr>
            {% endfor %}

            <tr>
	            <th>{{ 'customer.order.subtotal' | t }}</th>
	            <td>{{ order.subtotal_price | money }}</td>
        	</tr>

        	{% for discount in order.discounts %}
	        	<tr class="order_summary discount">
	            	<th>{{ discount.code }} {{ 'customer.order.discount' | t }}</th>
	             	<td>{{ discount.savings | money }}</td>
	        	</tr>
	        {% endfor %}

			{% for shipping_method in order.shipping_methods %}
				<tr>
					<th>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</th>
					<td>{{ shipping_method.price | money }}</td>
				</tr>
			{% endfor %}

			{% for tax_line in order.tax_lines %}
	            <tr>
	            	<th>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</th>
          			<td>{{ tax_line.price | money }}</td>
        		</tr>
	         {% endfor %}

	    	<tr>
    			<th><strong>{{ 'customer.order.total' | t }}</strong></th>
       			<td><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
      		</tr>

        </table>

        <table class="orders-desktop orders-desktop--small">
            <thead>
                <tr>
                    <th><span>{{ 'customer.order.product' | t }}</span></th>
                    <th><span>{{ 'customer.order.sku' | t }}</span></th>
                    <th><span>{{ 'customer.order.price' | t }}</span></th>
                    <th><span>{{ 'customer.order.quantity' | t }}</span></th>
                    <th><span>{{ 'customer.order.total' | t }}</span></th>
                </tr>
            </thead>
            <tbody>
                {% for line_item in order.line_items %}
                    <tr>
                        <td>{{ line_item.title | link_to: line_item.product.url }}</td>
                        <td>{{ line_item.sku }}</td>
					    <td>{{ line_item.price | money }}</td>
					    <td>{{ line_item.quantity }}</td>
					    <td>{{ line_item.line_price | money }}</td>
				    </tr>
                {% endfor %}

                <tr>
                    <td colspan="5"><hr class="hr hr--bold"></td>
                </tr>

                <tr>
		            <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
		            <td>{{ order.subtotal_price | money }}</td>
	        	</tr>

	        	{% for discount in order.discounts %}
		        	<tr class="order_summary discount">
		            	<td colspan="4">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
		             	<td>{{ discount.savings | money }}</td>
		        	</tr>
		        {% endfor %}

				{% for shipping_method in order.shipping_methods %}
					<tr>
						<td colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
						<td>{{ shipping_method.price | money }}</td>
					</tr>
				{% endfor %}

				{% for tax_line in order.tax_lines %}
		            <tr>
		            	<td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              			<td>{{ tax_line.price | money }}</td>
            		</tr>
		         {% endfor %}

		    	<tr>
        			<td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
           			<td><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
          		</tr>

            </tbody>
        </table>
    </div>

</main>
