<!-- /templates/customers/register.liquid -->

<main class="page container container--narrow">
    <h1 class="h1">{{ 'customer.register.title' | t }}</h1>
    <div id="CustomerRegisterForm" class="form">
        {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <div class="form__field">
            <input placeholder="{{ 'customer.register.first_name' | t }}" type="text" name="customer[first_name]" id="FirstName" class="input input--text" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
            <label for="FirstName" class="label">{{ 'customer.register.first_name' | t }}</label>
        </div>

        <div class="form__field">
            <input placeholder="{{ 'customer.register.last_name' | t }}" type="text" name="customer[last_name]" id="LastName" class="input input--text" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
            <label for="LastName" class="label">{{ 'customer.register.last_name' | t }}</label>
        </div>

        <div class="form__field">
            <input placeholder="{{ 'customer.register.email' | t }}" type="email" name="customer[email]" id="Email" class="input input--text{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            <label for="Email" class="label">{{ 'customer.register.email' | t }}</label>
        </div>

        <div class="form__field">
            <input placeholder="{{ 'customer.register.password' | t }}" autocomplete="new-password" size="16" type="password" name="customer[password]" id="CreatePassword" class="input input--text{% if form.errors contains 'password' %} error{% endif %}">
            <label for="CreatePassword" class="label">{{ 'customer.register.password' | t }}</label>
        </div>

        <input type="submit" class="button" value="{{ 'customer.register.submit' | t }}">
        <p class="link">
            <a href="/account/login">or {{ 'customer.login.title' | t }}</a>
        </p>

        {% endform %}
    </div>
</main>
