<!-- /templates/customers/reset_password.liquid -->

<main class="page container container--narrow">
    <h1 class="h1">{{ 'customer.reset_password.title' | t }}</h1>
    <div id="NewPasswordForm" class="form">
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}

        <div class="form__field">
            <input id="Password" type="password" placeholder="{{ 'customer.reset_password.password' | t }}" name="customer[password]" size="16" class="input input--text{% if form.errors contains 'password' %} error{% endif %}">
            <label for="Password" class="label">{{ 'customer.reset_password.password' | t }}</label>
        </div>

        <div class="form__field">
            <input id="PasswordConfirmation" type="password" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" name="customer[password_confirmation]" size="16" class="input input--text{% if form.errors contains 'password' %} error{% endif %}">
            <label for="PasswordConfirmation" class="label">{{ 'customer.reset_password.password_confirm' | t }}</label>
        </div>

        <input type="submit" class="button button--solid" value="{{ 'customer.reset_password.submit' | t }}" />

        {% endform %}
    </div>
</main>
