<!-- /templates/customers/account.liquid -->

<main class="page account container container--narrow">
    <h1 class="h1">{{ 'customer.account.title' | t }}</h1>

    <nav class="account__nav">
        <h2 class="toggle-orders h2{% if template contains 'account' %} active{% endif %}">
            <a href="/account">{{ 'customer.orders.title' | t }} ({{ customer.orders.size }})</a>
        </h2>
        <h2 class="toggle-addresses h2{% if template contains 'addresses' %} active{% endif %}">
            <a href="/account/addresses">{{ 'customer.addresses.title' | t }} ({{ customer.addresses_count }})</a>
        </h2>
    </nav>

    <div class="account__orders{% if template contains 'account' %} active{% endif %}">

        <table class="orders-mobile">

            {% for order in customer.orders %}
                <tr>
                    <th>{{ 'customer.orders.order_number' | t }}</td>
                    <td>{{ order.name | link_to: order.customer_url }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.orders.date' | t }}</td>
                    <td>{{ order.created_at | date: "%d-%m-%Y" }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.orders.payment_status' | t }}</td>
                    <td>{{ order.financial_status | camelize }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.orders.fulfillment_status' | t }}</td>
                    <td>{{ order.fulfillment_status | camelize }}</td>
                </tr>
                <tr>
                    <th>{{ 'customer.orders.total' | t }}</td>
                    <td>{{ order.total_price | money }}</td>
                </tr>
                <tr>
                    <td colspan="2"><hr class="hr hr--bold"></td>
                </tr>
            {% endfor %}

        </table>

        <table class="orders-desktop">
            <thead>
                <tr>
                    <th><span>{{ 'customer.orders.order_number' | t }}</span></th>
                    <th><span>{{ 'customer.orders.date' | t }}</span></th>
                    <th><span>{{ 'customer.orders.payment_status' | t }}</span></th>
                    <th><span>{{ 'customer.orders.fulfillment_status' | t }}</span></th>
                    <th><span>{{ 'customer.orders.total' | t }}</span></th>
                </tr>
            </thead>
            <tbody>
                {% for order in customer.orders %}
                    <tr>
                        <td>{{ order.name | link_to: order.customer_url }}</td>
                        <td>{{ order.created_at | date: "%d-%m-%Y" }}</td>
                        <td>{{ order.financial_status | camelize }}</td>
                        <td>{{ order.fulfillment_status | camelize }}</td>
                        <td>{{ order.total_price | money }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="account__addresses{% if template contains 'addresses' %} active{% endif %}">

        {% for address in customer.addresses %}

            <div id="{{ address.id }}" class="address{% if address == customer.default_address %} address--default{% endif %}">
                <div class="address__data">
                    <h3 class="h3">{{ address.first_name | upcase }} {{ address.last_name | upcase }}{% if address == customer.default_address %} ({{ 'customer.addresses.default' | t }}){% endif %}</h3>
                    <p>
                        {% if address.company != "" %}
                            {{ address.company }}<br>
                        {% endif %}

                        {% if address.address1 != "" %}
                            {{ address.address1 }}<br>
                        {% endif %}

                        {% if address.address2 != "" %}
                            {{ address.address2 }}<br>
                        {% endif %}

                        {% if address.city != "" %}
                            {{ address.city }},
                        {% endif %}

                        {% if address.province_code != "" %}
                            {{ address.province_code | upcase }}
                        {% endif %}

                        {% if address.zip != "" %}
                            {{ address.zip | upcase }}<br>
                        {% endif %}

                        {% if address.country != "" %}
                            {{ address.country }}<br>
                        {% endif %}

                        {% if address.phone != "" %}
                            {{ address.phone }}
                        {% endif %}
                    </p>
                    <p class="address__buttons">
                        <a class="edit" href="#edit"><span>{{ 'customer.addresses.edit' | t }}</span><span>{{ 'customer.addresses.cancel' | t }}</span></a>
                        <a href="#delete">{{ 'customer.addresses.delete' | t }}</a>
                    </p>
                </div>
                {% include 'edit-address' %}
                <hr class="hr hr--bold">
            </div>
        {% endfor %}

        <p class="add-new-address"><span>{{ 'customer.addresses.add_new' | t }}</span><span>{{ 'customer.addresses.cancel' | t }}</span></p>
        {% include 'add-address' %}
    </div>
</main>
