<div id="AddAddress" class="form">
    {% form 'customer_address', customer.new_address %}

        <div class="selection-wrapper">
            {{ form.errors | default_errors }}
        </div>

        <div class="form__row">
            <div class="form__field">
                <label class="label" for="AddressFirstNameNew_{{ address.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew_{{ address.id }}" class="input input--text" name="address[first_name]" value="{{ address.first_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.first_name' | t }}">
            </div>
            <div class="form__field">
                <label class="label" for="AddressLastNameNew_{{ address.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastNameNew_{{ address.id }}" class="input input--text" name="address[last_name]" value="{{ address.last_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.last_name' | t }}">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label class="label" for="AddressCompanyNew_{{ address.id }}">{{ 'customer.addresses.company' | t }}</label>
                <input type="text" id="AddressCompanyNew_{{ address.id }}" class="input input--text" name="address[company]" value="{{ address.company }}" autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label class="label" for="AddressAddress1New_{{ address.id }}">{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" id="AddressAddress1New_{{ address.id }}" class="input input--text" name="address[address1]" value="{{ address.address1 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address1' | t }}">
            </div>
            <div class="form__field">
                <label class="label" for="AddressAddress2New_{{ address.id }}">{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" id="AddressAddress2New_{{ address.id }}" class="input input--text" name="address[address2]" value="{{ address.address2 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label class="label" for="AddressCityNew_{{ address.id }}">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" id="AddressCityNew_{{ address.id }}" class="input input--text" name="address[city]" value="{{ address.city }}" autocapitalize="words" placeholder="{{ 'customer.addresses.city' | t }}">
            </div>
            <div class="form__field form__field--dropdown">
                <label class="label" for="AddressCountryNew_{{ address.id }}">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew_{{ address.id }}" class="input input--country input--select" name="address[country]" data-default="{{ address.country }}">
                    <option value="---" data-provinces="[]">{{ 'customer.addresses.country' | t }}</option>
                    {{ country_option_tags }}
                </select>
            </div>
        </div>

        <div id="AddressProvinceContainerNew" class="form__row AddressProvinceContainerNew">
            <div class="form__field form__field--province form__field--dropdown">
                <label class="label" for="AddressProvinceNew_{{ address.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvinceNew_{{ address.id }}" class="input input--province input--select" name="address[province]" data-default="{{ address.province }}"></select>
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label class="label" for="AddressZipNew_{{ address.id }}">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZipNew_{{ address.id }}" class="input input--text" name="address[zip]" value="{{ address.zip }}" autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t }}">
            </div>
            <div class="form__field">
                <label class="label" for="AddressPhoneNew_{{ address.id }}">{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel" id="AddressPhoneNew_{{ address.id }}" class="input input--text" name="address[phone]" value="{{ address.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
            </div>
        </div>

        <div class="form__field form__field--checkbox">
            <label class="label label--checkbox" for="address_default_address_new">
                {{ form.set_as_default_checkbox }}
                <span>{{ 'customer.addresses.set_default' | t }}</span>
            </label>
        </div>

        <p><input type="submit" class="button button--solid" value="{{ 'customer.addresses.add' | t }}"></p>

    {% endform %}
</div>

<script>
    new Shopify.CountryProvinceSelector('AddressCountryNew_{{ address.id }}', 'AddressProvinceNew_{{ address.id }}', {hideElement: 'AddressProvinceContainerNew'});
</script>
