<article class="collection__product">
    <a href="{{ product.url }}">
        <img src="{{ product.featured_image.src | img_url: '2048x2048' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
    <h1>
        <a href="{{ product.url }}">{{ product.title }}</a>
        <span class="price">{{ product.price | money }}</span>
    </h1>
    {% comment %}
    	<!-- social share temporarily out of use -->
	    {% include 'social-share' %}
    {% endcomment %}
    
</article>
