<div class="collection__filters">
    <h3 class="h3">{{ 'collections.general.filter_by' | t }}</h3>
    <div class="filters collection-filters-container cf-select-wrapper"></div>
</div>
<script>
    $('.collection__filters .h3').on('click', function () {
        $(this).closest('.collection__filters')
               .toggleClass('active');
    });
</script>
