<footer class="footer container">
    {% unless template contains 'password' %}
    <nav class="footer__social">
        <ul>
            {% if settings.social_twitter_link != blank %}
                <li><a target="_blank" href="{{ settings.social_twitter_link }}" class="icon-twitter"></a></li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
                <li><a target="_blank" href="{{ settings.social_facebook_link }}" class="icon-fb"></a></li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
                <li><a target="_blank" href="{{ settings.social_pinterest_link }}" class="icon-pinterest"></a></li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
                <li><a target="_blank" href="{{ settings.social_instagram_link }}" class="icon-instagram"></a></li>
            {% endif %}
        </ul>
    </nav>

        <nav class="footer__nav">
            <ul>
                {% for link in linklists.footer.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                <li>&copy;{{ 'now' | date: "%Y" }} Billy!</li>
            </ul>
        </nav>
    {% endunless %}
</footer>
