{% unless template contains 'password' %}
    {% if template == 'index' %}
        {% assign header_type = ' header--light' %}
    {% endif  %}
    {% if settings.alert_bar_enable %}
        <div class="alert-bar">
            {{ settings.alert_bar_message }}
        </div>
    {% endif  %}
{% endunless %}
<header class="header{{ header_type }}{% if settings.alert_bar_enable %} header--alert{% endif %}">
    {% unless template contains 'password' %}
        <div class="header__overlay"></div>
        <div class="search-box container">
            <form method="get" action="/search">
    		    <input class="input input--search" placeholder="Search..." type="text" value="{{ search.terms }}" name="q" />
                <div class="search-box__buttons">
                    <button type="submit"><i class="icon-search"></i></button>
                    <button class="search-box__clear" type="button"><i class="icon-close_big"></i></button>
                </div>
    		</form>
            <p class="search-box__no-results">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        </div>
    {% endunless %}
    {% assign logo_rellax_speed = 7 %}
    {% if template contains 'customers' %}
        {% assign logo_rellax_speed = 9 %}
    {% endif %}
    <h1 class="header__logo rellax" data-rellax-speed="{{ logo_rellax_speed }}">
        <a href="/">Billy!</a>
    </h1>
    {% unless template contains 'password' %}
    <nav class="header__nav header__nav--secondary">
        <a href="#" class="header__nav-search">
            <span class="mobile-hidden">Search</span>
            <i class="icon-search"></i>
        </a>
        <a href="/account" class="mobile-hidden header__nav-login">
            {% if customer %}
                {{ 'customer.account.title' | t }}
            {% else %}
                {{ 'customer.login.title' | t }}
            {% endif %}
        </a>
        {% if customer %}
            <a href="/account/logout" class="mobile-hidden">{{ 'layout.customer.log_out' | t }}</a>
        {% endif %}
        <a href="/cart" class="header__nav-bag">
            <span>{{ cart.item_count }}</span>
        </a>
        <a href="#" id="nav-btn" class="header__nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
    {% assign header_rellax_speed = 7.5 %}
    {% if template == 'index' %}
        {% assign header_rellax_speed = 7.5 %}
    {% elsif template contains 'customers' %}
        {% assign header_rellax_speed = 12 %}
    {% elsif template == 'page.about' %}
        {% assign header_rellax_speed = 6 %}
    {% endif %}
    <nav class="header__nav header__nav--primary rellax" data-rellax-speed="{{ header_rellax_speed }}">
        <ul>
            {% assign current_url = '' %}
            {% case template %}
            {% when 'page' %}
            {% assign current_url = page.url %}
            {% when 'blog' %}
            {% assign current_url = blog.url %}
            {% when 'article' %}
            {% assign current_url = blog.url %}
            {% when 'collection' %}
            {% assign current_url = collection.url %}
            {% when 'product' %}
            {% assign current_url = product.url %}
            {% else %}
            {% assign current_url = page.url %}
            {% endcase %}
            {% for link in linklists.main-menu.links %}
                <li>
                    {% assign child_list_handle = link.title | handleize %}
                    <a{% if link.url contains 'instagram' %} target="_blank"{% endif %} class="{% if current_url == link.url %}active{% endif %}{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %} is-subnav{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
						<ul class="subnav">
							{% for l in linklists[child_list_handle].links %}
                                {% capture urla %}{{current_url}}/{{ current_tags.first | handleize }}{% endcapture %}
								<li><a class="{% if urla == l.url %}active{% endif %}" href="{{ l.url }}">{{ l.title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
                </li>
            {% endfor %}
            <hr>
            <li class="primary-mobile">
                <a href="/account">
                    {% if customer %}
                        {{ 'customer.account.title' | t }}
                    {% else %}
                        {{ 'customer.login.title' | t }}
                    {% endif %}
                </a>
            </li>
            <li class="primary-mobile">
                {% if customer %}
                    <a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% endunless %}
</header>
