<section class="mailing container">
    <h2 class="h2">{{ 'general.newsletter_form.newsletter_header' | t | replace: '&lt;', '<' | replace: '&gt;', '>' }}</h2>
    <form class="mailing__form form" action="" method="" novalidate>
        <input autocomplete="off" class="input input--text input--mailing" type="email" name="email" placeholder="{{ 'general.newsletter_form.enter_email' | t }}">
        <div class="mailing__button">
            <button type="submit" name="button" class="button">{{ 'general.newsletter_form.submit' | t }}</button>
        </div>
    </form>
</section>
