<nav class="share">
    <ul>
        <li class="share__button icon-fb">
            <a class="fb-share-button" data-href="{{ shop.url }}{{ product.url }}" data-layout="button"></a>
        </li>
        <li class="share__button icon-twitter">
            <a href="//twitter.com/share?text={{ product.title }}&amp;url={{ shop.url }}{{ product.url }}" class="twitter-share-button"></a>
        </li>
        <li class="share__button icon-pinterest">
            <a href="https://www.pinterest.com/pin/create/button/"
                data-pin-do="buttonPin"
                data-pin-custom="true"
                data-pin-media="https:{{ product.featured_image.src | img_url: '2048x2048' }}"
                data-pin-url="{{ shop.url }}{{ product.url }}"
                data-pin-description="{{ shop.name }} | {{ product.title }}">
            </a>
        </li>
        <!-- <li class="share__button icon-fancy">
            <a target="_blank" href="//fancy.com/fancyit?ItemURL={{ shop.url }}{{ product.url }}&amp;Title={{ shop.name }} | {{ product.title }}&amp;Category=Other&amp;ImageURL=https:{{ product.featured_image.src | img_url: '2048x2048' }}" class="share-fancy"></a>
        </li>
        <li class="share__button icon-googleplus">
            <div class="g-plus" data-action="share" data-height="60" data-href=""></div>
        </li> -->
    </ul>
</nav>
