body {
    background: white;
    .wf-loading & {
        * {
            visibility: hidden;
        }
    }
    &.mobile-nav-open {
        overflow: hidden;
    }
    &.template-password {
        height: auto;
    }
}

main {
    display: block;
    margin-top: 134px;
    @media #{$rwd-sm-up} {
        margin-top: 280px;
        [class*=login] &, [class*=register] & {
            margin-top: 400px;
        }
    }
    @media #{$rwd-lg-up} {
        margin-top: 280px;
        [class*=login] &, [class*=register] & {
            margin-top: 280px;
        }
    }
    @media #{$rwd-lg-up} {
        &.container {
            padding: 0 $padding-desktop*2;
        }
    }
}

.container {
    @extend %clearfix;
    padding: 0 $padding-mobile;
    @media #{$rwd-sm-up} {
        padding: 0 $padding-desktop;
        &--narrow {
            max-width: 992px;
            max-width: 1120px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.mobile-hidden {
    @media #{$rwd-mobile} {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

%clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

hr, .hr {
    width: 100%;
    height: 1px;
    background: rgba($black, 0.2);
    outline: 0;
    border: 0;
    &--bold {
        height: 3px;
        background: $black;
    }
}

.rellax {
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    background-attachment: fixed;
    @media #{$rwd-sm-down} {
        transform: none !important;
    }
}

[data-parallaxify-range-x] {
    @media #{$rwd-md-down} {
        transform: none !important;
    }
}

#booster-button{
    display: none !important;
}
#booster-trigger{
    cursor: pointer;
    display: none !important; 
}