@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?8uir0p');
    src:  url('icomoon.eot?8uir0p#iefix') format('embedded-opentype'),
    url('icomoon.ttf?8uir0p') format('truetype'),
    url('icomoon.woff?8uir0p') format('woff'),
    url('icomoon.svg?8uir0p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon, [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-exclamation_mark:before {
    content: "\e90f";
}
.icon-dropdown_arrow:before {
    content: "\e90e";
}
.icon-bag_empty:before {
    content: "\e90c";
}
.icon-close_big:before {
    content: "\e90a";
}
.icon-close_small:before {
    content: "\e90b";
}
.icon-fancy:before {
    content: "\e904";
}
.icon-fb:before {
    content: "\e905";
}
.icon-googleplus:before {
    content: "\e906";
}
.icon-instagram:before {
    content: "\e907";
}
.icon-pinterest:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-search:before {
    content: "\e901";
}
.icon-check:before {
    content: "\e90d";
}
.icon-minus:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-bag:before {
    content: "\e900";
}
