* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

input, button {
	background: none;
	outline: 0;
	border: none;
	font: inherit;
	color: inherit;
	border-radius: 0;
	appearance: none;
}

input::-ms-clear, ::-ms-clear, input::-ms-reveal, ::-ms-reveal {
    display: none;
}

button {
	cursor: pointer;
}

strong {
	font-weight: inherit;
}
