body {
    font-family: $font-main;
    font-weight: 300;
    color: $black;
    .wf-loading & {
        h1, h2, h3, h4, h5, h6, a, span {
            visibility: hidden;
        }
    }
}

.h1, .h2, .h3, .h4 {
    font: {
        family: $font-bold;
        weight: normal;
    }
}

.h1 {
    font-size: 32px;
    line-height: 28px;
    text-transform: uppercase;

    // h1 TABLET H
    @media #{$rwd-sm-up} {
        font-size: 40px;
        line-height: 0.9;
    }

    // h1 DESKTOP
    @media #{$rwd-lg-up} {
        // font-size: 64px;
        // line-height: 56px;
    }
}

.h2 {
    font-size: 29px;
    line-height: 32px;

    // h2 TABLET H
    @media #{$rwd-sm-up} {
        font-size: 36px;
        line-height: 40px;
    }
}

.h3 {
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;

    // h3 TABLET H
    @media #{$rwd-sm-up} {
        font-size: 29px;
        line-height: 32px;
    }

    // h3 DESKTOP
    @media #{$rwd-lg-up} {
        font-size: 36px;
        line-height: 40px;
    }
}

.h4 {
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
}

.p {
    margin-bottom: 1.35em;
    font: {
        family: $font-main;
        weight: 500;
        size: 17px;
    }
    line-height: 24px;
    text-transform: none;
    // p TABLET H
    @media #{$rwd-sm-up} {
        font-size: 23px;
        line-height: 32px;
    }
    &--small {
        @media #{$rwd-sm-up} {
            font-size: 17px;
            line-height: 24px;
        }
    }

    strong {
        font-family: $font-bold;
    }

}
