// === COLORS === //

$white: #ffffff;
$black: #2a2a2a;
$red: #ff0000;
$grey: #aaaaaa;

// === FONTS === //

$font-main: "futura-pt", sans-serif;
$font-bold: "futura-pt-bold", sans-serif;

// === DIMENSIONS === //

$rhythm: 8px;
$padding-mobile: 24px;
$padding-desktop: 64px;

// === BREAKPOINTS === //

// Extra small screen / phone
$screen-xs-min:              480px !default;
// Small screen / tablet
$screen-sm-min:              768px !default;
// Medium screen / desktop
$screen-md-min:              992px !default;
// Large screen / wide desktop
$screen-lg-min:              1200px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$rwd-mobile: 'all and (max-width: #{$screen-xs-max})';
$rwd-tablet: 'all and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})';
$rwd-mobile-and-tablet: 'all and (max-width: #{$screen-md-max})';
$rwd-desktop: 'all and (min-width: #{$screen-lg-min})';

$rwd-xxs: 'all and (max-width: #{$screen-xs-min - 1})';
$rwd-xs: 'all and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})';
$rwd-sm: 'all and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})';
$rwd-md: 'all and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})';
$rwd-lg: 'all and (min-width: #{$screen-lg-min})';

$rwd-xs-up: 'all and (min-width: #{$screen-xs-min})';
$rwd-sm-up: 'all and (min-width: #{$screen-sm-min})';
$rwd-md-up: 'all and (min-width: #{$screen-md-min})';
$rwd-lg-up: 'all and (min-width: #{$screen-lg-min})';

$rwd-xs-down: 'all and (max-width: #{$screen-xs-max})';
$rwd-sm-down: 'all and (max-width: #{$screen-sm-max})';
$rwd-md-down: 'all and (max-width: #{$screen-md-max})';

$for-ie: 'all and (-ms-high-contrast:none)';
$for-firefox: 'screen and (-moz-images-in-menus:0)';
