{% for block in section.blocks %}
    <div data-autoplay="{{ section.settings.slider_autoplay }}" data-autoplay-speed="{{ section.settings.slider_autoplay_speed }}" class="slide" style="background-position: {{ block.settings.bg_position_x }}% 50%;background-image: url('{{ block.settings.homepage_image | img_url: '2048x2048' }}')"></div>
{% endfor %}


{% schema %}
{
    "name": "Homepage slider",
    "class": "homepage__slider hero",
    "blocks": [
        {
            "type": "slide",
            "name": "Homepage Slide",
            "settings": [
                {
                    "id": "homepage_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "bg_position_x",
                    "type": "range",
                    "step": 1,
                    "min": 0,
                    "max": 100,
                    "default": 100,
                    "label": "Position-X on mobile"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "checkbox",
            "id": "slider_autoplay",
            "label": "Slider autoplay"
        },
        {
            "id": "slider_autoplay_speed",
            "type": "text",
            "label": "Slider autoplay speed"
        }
    ],
    "presets": [{
        "name": "Homepage slider",
        "category": "Custom"
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
